glit_resque:
  prefix: "SimplyTestable\WebClientBundle"

parameters:
  resque_pid: "simplytestable_webclientbundle" 
  core_application:
    urls:
      base: http://app.simplytestable.com
      test_start: /job/{canonical-url}/start/
      test_status: /job/{canonical-url}/{test_id}/
      test_cancel: /job/{canonical-url}/{test_id}/cancel/
      test_tasks: /job/{canonical-url}/{test_id}/tasks/
      test_task_ids: /job/{canonical-url}/{test_id}/tasks/ids/
      test_list_urls: /tests/{canonical-url}/{test_id}/urls/
      task_status: /tasks/{canonical-url}/{test_id}/{task_id}/status/
      task_collection_status: /tasks/{canonical-url}/{test_id}/status/collection/
      tests_list: /tests/list/{limit}/
  public_site:
    urls:
      home: http://simplytestable.com
  content_type_web_resource_map:
    default: webignition\WebResource\WebResource
    application/json: webignition\WebResource\JsonDocument\JsonDocument
  task-output-result-parsers:
    "HTML validation":
        class: SimplyTestable\WebClientBundle\Services\TaskOutput\ResultParser\HtmlValidationResultParser