parameters:
  core_url: http://app.simplytestable.com
  marketing_site: https://simplytestable.com/
  bcc_resque_prefix: web.client.simplytestable.com
  resque-job-class-map:
    "email-list-subscribe": "SimplyTestable\WebClientBundle\Resque\Job\EmailListSubscribeJob"
    "email-list-unsubscribe": "SimplyTestable\WebClientBundle\Resque\Job\EmailListUnsubscribeJob"
  early_access_users:
    - "jon@webignition.net"
  link-integrity-exclude-domains:
   - instagram.com
  coupons:
   TMS:
     percent_off: 20
     active: true
     intro: "<p><strong>Hey there TMS listener!</strong> You get 20% off the lifetime of your account.</p>"
  currency_map:
     gbp: "&#163;"
     usd: "&#36;"