services:
  simplytestable.services.httpClientService:
    class:  SimplyTestable\WebClientBundle\Services\HttpClientService

  simplytestable.services.webresourceservice:
    class:   SimplyTestable\WebClientBundle\Services\WebResourceService
    arguments:
        httpClientService: "@simplytestable.services.httpClientService"
        contentTypeWebResourceMap: %content_type_web_resource_map%

  simplytestable.services.testservice:
    class:   SimplyTestable\WebClientBundle\Services\TestService
    arguments:
        entityManager: "@doctrine.orm.entity_manager"
        logger: "@logger"
        taskService: "@simplytestable.services.taskservice"
        remoteTestService: "@simplytestable.services.remotetestservice"

  simplytestable.services.remotetestservice:
    class:   SimplyTestable\WebClientBundle\Services\RemoteTestService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"

  simplytestable.services.taskservice:
    class:   SimplyTestable\WebClientBundle\Services\TaskService
    arguments:
        entityManager: "@doctrine.orm.entity_manager"
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        taskOutputResultParserService: "@simplytestable.services.taskoutputresultparserfactoryservice"

  simplytestable.services.taskcollectionfilterservice:
    class:   SimplyTestable\WebClientBundle\Services\TaskCollectionFilterService
    arguments:
        entityManager: "@doctrine.orm.entity_manager"
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        taskOutputResultParserService: "@simplytestable.services.taskoutputresultparserfactoryservice"

  simplytestable.services.taskoutputresultparserfactoryservice:
    class:   SimplyTestable\WebClientBundle\Services\TaskOutput\ResultParser\Factory
    arguments:
      drivers: %task-output-result-parsers%

  simplytestable.services.cachevalidatorheadersservice:
    class:   SimplyTestable\WebClientBundle\Services\CacheValidatorHeadersService
    arguments:
        entityManager: "@doctrine.orm.entity_manager"

  simplytestable.services.resqueQueueService:
    class:   SimplyTestable\WebClientBundle\Services\ResqueQueueService
    arguments:
      queueManager: "@glit_resque.queue_manager"
      logger: "@logger"
      resquePrefix: "%glit_resque.prefix%"

  simplytestable.services.userservice:
    class:  SimplyTestable\WebClientBundle\Services\UserService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        adminUserUsername: %admin_user_username%
        adminUserPassword: %admin_user_password%
        session: "@session"
        userSerializerService: "@simplytestable.services.userserializerservice"

  simplytestable.services.useremailchangerequestservice:
    class:  SimplyTestable\WebClientBundle\Services\UserEmailChangeRequestService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        adminUserUsername: %admin_user_username%
        adminUserPassword: %admin_user_password%
        session: "@session"
        userSerializerService: "@simplytestable.services.userserializerservice"

  simplytestable.services.userserializerservice:
    class:  SimplyTestable\WebClientBundle\Services\UserSerializerService
    arguments:
        key: %secret%

  simplytestable.services.testoptions.adapter.request.featureOptionsParser:
    class:  SimplyTestable\WebClientBundle\Services\TestOptions\Adapter\Request\FeatureParser\OptionsParser

  simplytestable.services.testoptions.adapter.request.cookieOptionsParser:
    class:  SimplyTestable\WebClientBundle\Services\TestOptions\Adapter\Request\FeatureParser\CookieOptionsParser

  simplytestable.services.testoptions.adapter.request:
    class:  SimplyTestable\WebClientBundle\Services\TestOptions\Adapter\Request\Adapter
    calls:
      - [addFeatureOptionsParser, ["@simplytestable.services.testoptions.adapter.request.featureOptionsParser"]]
      - [addFeatureOptionsParser, ["@simplytestable.services.testoptions.adapter.request.cookieOptionsParser", "cookies"]]

  simplytestable.services.coreapplicationstatusservice:
    class:  SimplyTestable\WebClientBundle\Services\CoreApplicationStatusService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"

  simplytestable.services.userplansubscriptionservice:
    class:  SimplyTestable\WebClientBundle\Services\UserPlanSubscriptionService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        adminUserUsername: %admin_user_username%
        adminUserPassword: %admin_user_password%
        session: "@session"
        userSerializerService: "@simplytestable.services.userserializerservice"

  simplytestable.services.useraccountcardservice:
    class:  SimplyTestable\WebClientBundle\Services\UserAccountCardService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        adminUserUsername: %admin_user_username%
        adminUserPassword: %admin_user_password%
        session: "@session"
        userSerializerService: "@simplytestable.services.userserializerservice"

  simplytestable.services.userstripeeventservice:
    class:  SimplyTestable\WebClientBundle\Services\UserStripeEventService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        adminUserUsername: %admin_user_username%
        adminUserPassword: %admin_user_password%
        session: "@session"
        userSerializerService: "@simplytestable.services.userserializerservice"

  simplytestable.services.urlcheckerservice:
    class:  SimplyTestable\WebClientBundle\Services\UrlCheckerService
    arguments:
        webResourceService: "@simplytestable.services.webresourceservice"

  simplytestable.services.documentationurlcheckerservice:
    class:  SimplyTestable\WebClientBundle\Services\DocumentationUrlCheckerService
    arguments:
        webResourceService: "@simplytestable.services.webresourceservice"

  simplytestable.services.mailchimpservice:
    class:   SimplyTestable\WebClientBundle\Services\MailChimp\Service
    arguments:
        apiKey: %mailchimp_api_key%
        listRecipientsService: "@simplytestable.services.mailchimp.listRecipients"

  simplytestable.services.mail.configuration:
    class:   SimplyTestable\WebClientBundle\Services\Mail\Configuration
    arguments:
        configuration: "%mail%"

  simplytestable.services.postmark.sender:
    class:   SimplyTestable\WebClientBundle\Services\Postmark\Sender

  simplytestable.services.mail.service:
    class:   SimplyTestable\WebClientBundle\Services\Mail\Service
    arguments:
        mailConfiguration: "@simplytestable.services.mail.configuration"
        postmarkMessage: "@postmark.message"
        postmarkSender: "@simplytestable.services.postmark.sender"

  simplytestable.listener.stripeEvent:
    class:   SimplyTestable\WebClientBundle\EventListener\Stripe\Listener
    arguments:
        logger: "@logger"
        templating: "@templating"
        router: "@router"
        mailService: "@simplytestable.services.mail.service"
    tags:
      - { name: kernel.event_listener, event: stripe.customer.subscription.created, method: onCustomerSubscriptionCreated }
      - { name: kernel.event_listener, event: stripe.customer.subscription.deleted, method: onCustomerSubscriptionDeleted }
      - { name: kernel.event_listener, event: stripe.customer.subscription.trial_will_end, method: onCustomerSubscriptionTrialWillEnd }
      - { name: kernel.event_listener, event: stripe.customer.subscription.updated, method: onCustomerSubscriptionUpdated }
      - { name: kernel.event_listener, event: stripe.invoice.payment_succeeded, method: onInvoicePaymentSucceeded }
      - { name: kernel.event_listener, event: stripe.invoice.payment_failed, method: onInvoicePaymentFailed }

  simplytestable.services.cacheableResponseService:
    class:  SimplyTestable\WebClientBundle\Services\CacheableResponseService

  simplytestable.controller.action_listener:
    class: SimplyTestable\WebClientBundle\EventListener\RequestListener
    arguments:
        kernel: @kernel
    tags:
      - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

  simplytestable.listener.mailchimpEvent:
    class:   SimplyTestable\WebClientBundle\EventListener\MailChimp\Listener
    arguments:
        logger: "@logger"
        mailchimpListRecipientsService: "@simplytestable.services.mailchimp.listRecipients"
    tags:
      - { name: kernel.event_listener, event: mailchimp.subscribe, method: onSubscribe }
      - { name: kernel.event_listener, event: mailchimp.unsubscribe, method: onUnsubscribe }
      - { name: kernel.event_listener, event: mailchimp.upemail, method: onUpEmail }
      - { name: kernel.event_listener, event: mailchimp.cleaned, method: onCleaned }

  simplytestable.services.mailchimp.listRecipients:
    class:   SimplyTestable\WebClientBundle\Services\MailChimp\ListRecipientsService
    calls:
      - [addListIdentifier, ['announcements', %mailchimp_announcements_list_id%]]
      - [addListIdentifier, ['updates', %mailchimp_updates_list_id%]]
      - [addListIdentifier, ['introduction', %mailchimp_introduction_list_id%]]
    arguments:
        entityManager: "@doctrine.orm.entity_manager"
        logger: "@logger"

  simplytestable.services.responseFormatService:
    class:   SimplyTestable\WebClientBundle\Services\ResponseFormatService
    calls:
      - [setRequest, [@request]]
    public: true
    scope: request

  simplytestable.services.tasktypeservice:
    class:  SimplyTestable\WebClientBundle\Services\TaskTypeService
    calls:
      - [setTaskTypes, [%task_types%]]
      - [setEarlyAccessUsers, [%early_access_users%]]

  simplytestable.services.teamservice:
    class:   SimplyTestable\WebClientBundle\Services\TeamService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"

  simplytestable.services.teaminviteservice:
    class:   SimplyTestable\WebClientBundle\Services\TeamInviteService
    arguments:
        parameters: %core_application%
        webResourceService: "@simplytestable.services.webresourceservice"
        userService: "@simplytestable.services.userservice"

  simplytestable.services.couponService:
    class:  SimplyTestable\WebClientBundle\Services\CouponService
    scope: request
    calls:
      - [setCouponData, [%coupons%]]
      - [setRequest, ["@request"]]

  simplytestable.services.plansService:
    class:  SimplyTestable\WebClientBundle\Services\PlansService
    calls:
      - [setPlansData, [%plans%]]