<p><strong>That didn't work</strong></p>
{% block message %}{% endblock %}
{% block update_payment_details %}
<p>
    Do you need to <a href="{{ path('view_user_account_card_index') }}">update your payment details?</a>
</p>
{% endblock %}
