{% extends 'Partials/User/Account/Plan/Alert/Content/card-abstract.html.twig' %}
{% block message %}
    <p>The zip or postal code you entered failed validation. Did you enter the wrong address for your card?</p>
{% endblock %}