<p>
    Looks like <strong>{{ email }}</strong> already has an account.</p>
<p>
    Do you need to <a href="{{ path('view_user_resetpassword_request', {'email': email}) }}">reset your password</a>?
</p>
