{% set has_http_auth_username = remote_test.hasParameter('http-auth-username') and remote_test.parameter('http-auth-username') !='' %}
{% set has_http_auth_password = remote_test.hasParameter('http-auth-password') and remote_test.parameter('http-auth-password') !='' %}

<span id="http-authentication-action-badge" class="badge action-badge {% if test_authentication_enabled %}action-badge-enabled{% endif %}">
    <i class="fa fa-lock icon-primary"></i>
    <span class="action-badge-label">
        HTTP authentication
        <span class="status">{{ (test_authentication_enabled) ? 'enabled' : 'not enabled' }}</span>
    </span>
    <span class="modal-control" data-for="http-authentication-options-modal">
        change
    </span>
</span>

<div class="modal" id="http-authentication-options-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-name="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>HTTP Authentication</h3>
                <p>
                    For when your site or page uses either
                    <a href="http://en.wikipedia.org/wiki/Basic_access_authentication">basic</a> or
                    <a href="http://en.wikipedia.org/wiki/Digest_access_authentication">digest</a> HTTP authentication.
                    Commonly used for public staging sites. Not safe for
                    <a href="http://blog.simplytestable.com/html-validation-for-password-protected-sites/#security">sensitive information</a>.
                </p>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-2" for="http-auth-username">Username</label>
                    <div class="col-lg-10">
                        <input id="http-auth-username"
                               name="http-auth-username"
                               class="form-control credential"
                               type="text"
                               placeholder="Enter required username"
                               value="{{ (has_http_auth_username) ? remote_test.parameter('http-auth-username') : '' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2" for="http-auth-password">Password</label>
                    <div class="col-lg-10">
                        <input
                                id="http-auth-password"
                                name="http-auth-password"
                                class="form-control credential"
                                type="password"
                                placeholder="Enter required password"
                                value="{{ (has_http_auth_password) ? remote_test.parameter('http-auth-password') : '' }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="closed-by">
                <button class="btn btn-default" data-dismiss="modal" data-name="clear" aria-hidden="true">
                    Clear
                </button>
                <button class="btn btn-primary" data-dismiss="modal" data-name="apply" aria-hidden="true">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
