/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/phpunit.xml
/vendor/
/web/bundles/
web/js
web/css

/.idea
/build

data/queue/test/*
src/SimplyTestable/WebClientBundle/Resources/public/vendor/
src/SimplyTestable/WebClientBundle/Resources/assets/vendor/
src/SimplyTestable/WebClientBundle/Resources/config/parameters.yml
