web/bundles/
web/js
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build/
vendor
bin
composer.phar
phpcpd.phar
/nbproject
/src/SimplyTestable/WebClientBundle/Resources/public/vendor/
src/SimplyTestable/WebClientBundle/Resources/config/parameters.yml
data/queue/test/*