/var/
!var/cache/.gitkeep
/phpunit.xml
/vendor/
/node_modules
/yarn-error.log

/.idea
/build

data/queue/test/*

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
