{% set error_count = task.output.errorCount %}

<div class="row issue-list {{ [task_type_key, 'issue-list']|join('-') }} error-list {{ [task_type_key, 'error-list']|join('-') }}"
     id="errors"
     data-filter
     data-filter-selector="{{ filter_selectors[task_type_key] }}"
     data-issue-type="error"
>
    <div class="col-xs-12">
        <h2 data-section="error-list">
            Errors <span class="badge alert-danger issue-count">{{ error_count }}</span>
            {% if error_count > 1 %}
                <span  class="collapse-control link" data-toggle="collapse" data-target="#error-list-content"></span>
            {% endif %}
        </h2>

        {% if task_type_key == 'html-validation' %}
            {% include 'Partials/Test/Results/Task/Succeeded/ErrorList/html-validation/list.html.twig' %}
        {% endif %}

        {% if task_type_key == 'css-validation' %}
            {% include 'Partials/Test/Results/Task/Succeeded/ErrorList/css-validation/list.html.twig' %}
        {% endif %}

        {% if task_type_key == 'link-integrity' %}
            {% include 'Partials/Test/Results/Task/Succeeded/ErrorList/link-integrity/list.html.twig' %}
        {% endif %}
    </div>
</div>
