h1 {
  white-space: normal;
  word-wrap: break-word;
}

h2 {
  margin: 20px 0;
  font-size: 28px;
}

.ammendment-clone,
.ammendment-clone a {
  background-color: #eee;
  color: transparent;
  border-color: transparent;
}

.alert-container {
  background-color: #eee;
  max-height: 0;

  &.reveal {
    max-height: 500px;
    transition: max-height 1s ease-in-out;
  }

  .alert {
    opacity: 0;

    &.reveal {
      opacity: 1;
      transition: opacity 0.6s ease-in-out;
    }
  }
}

.header {
  @media (min-width: 768px) {
    margin-bottom: 40px;
    padding: 40px 0;
  }

  .details {
    position: relative;
  }
}

.subtle {
  opacity: 0.6;
}

.progress {
  margin: 8px 0 4px 0;
  height: 4px;
}

.progress-summary {
  margin-bottom: 10px;
}

.task-queues {
  .queue {
    margin: 0 0 5px 0;
  }

  .label {
    padding-top: 3px;
  }

  .name {
    padding-right: 5px;
    padding-left: 0;

    .label {
      display: block;
      text-align: right;
    }
  }

  .bar {
    padding-left: 0;

    .label {
      display: block;
      text-align: left;
      transition: width 0.6s ease;
      min-width: 20px;
      width: 20px;
    }

    .wrapper {
      display: block;
      background-color: #e6e6e6;
      border-radius: 0.25em;
    }
  }
}

.test-summary {
  display: none;

  @media (min-width: 768px) {
    display: block;
    visibility: hidden;
  }
}

.test-options {
  display: none;
  margin-top: 20px;

  @media (min-width: 768px) {
    display: block;
    visibility: hidden;
    margin-top: 0;
  }

  @media (min-width: 992px) {
    position: absolute;
    bottom: 10px;
    width: auto;
    right: 0;
  }
}

&.job-queued {
  .test-summary {
    display: block;

    @media (min-width: 768px) {
      visibility: visible;
    }
  }

  .side-actions {
    .test-options {
      display: inherit;
    }
  }
}

&.job-in-progress {
  .test-summary {
    display: block;

    @media (min-width: 768px) {
      visibility: visible;
    }
  }

  .side-actions {
    .test-options {
      display: inherit;

      @media (min-width: 768px) {
        visibility: visible;
      }
    }
  }
}

.test-option {
  margin: 0 0 10px 0;
}

.btn {
  &.btn-significant {
    margin-top: 20px;

    @media (min-width: 768px) {
      margin-top: 0;
    }

    span {
      display: inline;
    }
  }
}

.task-types {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  .fa {
    opacity: 0.6;
  }

  .not-available {
    opacity: 0.6;
  }

  .task-type {
    margin-bottom: 6px;
  }
}

.test-progress-tasks {
  h2 {
    .fa {
      margin-left: 15px;
    }
  }
}

.cancel-crawl-action {
  display: none;
}

&.job-crawling {
  .cancel-action {
    display: none;
  }

  .cancel-crawl-action {
    display: inherit;
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
  }
}
