<ul class="issues html-validation-issues collapse in" id="error-list-content">
    {% for error in task.output.result.getErrors %}
        <li class="issue">
            {% include 'Partials/Test/Results/Task/Succeeded/ErrorList/html-validation/error.html.twig' %}
        </li>
    {% endfor %}
</ul>