<p>
    <strong>Sorry, that didn't work.</strong>
</p>
<p>
    I'm not sure what to do about it. I encountered error {{ invite_accept_failure }}.
</p>
<p>
    Please
    <a href="mailto:{% autoescape false %}{{ contact_email }}{% endautoescape %}">let my makers know</a>
    if this keeps happening.
</p>
