<p>
    <strong>I can't let you do that, sorry</strong>
</p>
<p>
    Your IP address ({{ ip }}) is listed as untrustworthy by the <a href="https://www.stopforumspam.com/">Stop Forum Spam</a>
    service.
</p>
<p>
    Could you <a href="mailto:{% autoescape false %}{{ contact_email }}{% endautoescape %}">get in touch</a>
    so that twe can create an account for you?
</p>
