{% set empty_card = {
    name: '',
    addressLine1: '',
    addressCity: '',
    addressState: '',
    addressZip: '',
    addressCountry: 'GB',
    isPassedAddressZipCheck: true
} %}

{% set card = user_summary.stripeCustomer.hasActiveCard ? user_summary.stripeCustomer.activeCard : empty_card %}

{% include 'Partials/User/Account/Card/form-group.html.twig' with default_form_group_parameters|merge({
    field_id: 'inputNumber',
    label: 'Number',
    placeholder: '15 or 16 digits across the front',
    value: null,
    stripe_name: 'number'
}) only %}

{% include 'Partials/User/Account/Card/form-group.html.twig' with default_form_group_parameters|merge({
    form_group_class: 'expiry-date',
    field_id: 'inputExpiryMonth|inputExpiryYear',
    label: 'Expiry date',
    value: null,
    stripe_name: null,
    field_width_class: 'col-lg-9',
    field_view: 'Partials/User/Account/Card/FormField/expiry_date.html.twig',
    field_view_parameters: {
        expiry_year_start: expiry_year_start,
        expiry_year_end: expiry_year_end
    }
}) only %}

{% include 'Partials/User/Account/Card/form-group.html.twig' with default_form_group_parameters|merge({
    form_group_class: 'cvc-form-group',
    field_id: 'inputCVC',
    label: 'CVC',
    label_additional: '<span class="help-block hidden-sm hidden-md hidden-lg">usually 3 digits on the back</span>',
    value: null,
    stripe_name: 'cvc',
    field_attributes: 'maxlength="3"',
    field_width_class: 'col-lg-2 col-md-2 col-sm-2 col-xs-3',
    post_field_content: '<span class="help-block hidden-xs">Usually 3 digits on the back</span>',
    placeholder: null,
    error_container_content_view: 'Partials/User/Account/Card/cvc-unverified.html.twig',
    error_container_content_parameters: {
        has_card: user_summary.stripeCustomer.hasActiveCard,
        is_passed_cvc_check: card.isPassedCvcCheck,
        has_card_cvc_error: user_account_card_exception_param is defined and user_account_card_exception_param  == 'cvc'
    }
}) only %}

<div class="{{ intro_width_class }} intro">
    <span class="collapse-control collapsed link" href="#" data-toggle="collapse" data-target="#cvc-info">
        What is a CVC and where do I find it?
    </span>

    <div id="cvc-info" class="collapse">
        <p>
            This is the <b>c</b>ard <b>v</b>erification <b>c</b>ode (CVC), also know as
            CVV or similar-looking abbreviations.
        </p>
        <p>
            It's commonly a 3-digit code on the back of your card:
        </p>
        <img src="/images/CVC2SampleVisaNew.png">
        <a href="http://en.wikipedia.org/wiki/File:CVC2SampleVisaNew.png">Image credit</a>
    </div>
</div>
