{% spaceless %}
{% set tasks_by_url = {} %}

{% for task in tasks %}
    {% if tasks_by_url[task.url] is not defined %}
        {% set tasks_by_url = tasks_by_url|merge({(task.url): []}) %}
    {% endif %}

    {% set current_url_set = tasks_by_url[task.url]|merge([task]) %}
    {% set tasks_by_url = tasks_by_url|merge({(task.url): current_url_set}) %}

{% endfor %}

<ul class="task-list list-unstyled" {% if page_index is defined %}data-page-index="{{ page_index }}"{% endif %}>
    {% for url, tasks in tasks_by_url %}
        <li class="task-set">
            <span class="url">{{ url }}<span class="fade"></span></span>
            {% include 'Partials/Test/TaskList/Task/collection.html.twig' %}
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
