<div class="css-validation-result">
    <div class="meta">     
        <p>
Line {{ message.getLineNumber }}:
        </p>
    </div>
    <div class="content">
        <span class="message">
            {% if not message.context == ''%}                          
            <code>{{ message.context }}</code><br />        
            {% endif %}
{% autoescape false %}            
{{ message }}
{% endautoescape %}         
        </span>        
    </div>
    <div class="clearfix"></div>
</div>