<div class="css-validation-result">
    <div class="meta">     
        <p>
Line {{ error.getLineNumber }}:
        </p>
    </div>
    <div class="content">
        <span class="message">
            <code>{{ error.context }}</code><br />          
{% autoescape false %}            
{{ error }}
{% endautoescape %}         
        </span>        
    </div>
    <div class="clearfix"></div>
</div>