<div class="span2">
    <div class="summary-container summary-figure fix-container">    
        <a href="#fix-list"><span class="count">{{ distinct_fixes | length }}</span> <span class="stat-label">fix{% if distinct_fixes | length != 1 %}es{% endif %}</span><i class="icon icon-heart"></i></a>
    </div>
</div>        