<div class="html-validation-result">
    <p>
        <span class="meta">Line {{ error.getLineNumber }}, Column {{ error.getColumnNumber }}:</span>
        <span class="message">{{ error }}</a>
    </p>
</div>


