<div class="html-validation-result">
    <div class="meta">     
        <p>
            {{ error.message }}
        </p>
    </div>
    <div class="content">
        <span class="message">
            <a href="{{ error.url }}"><code>{{ error.context }}</code></a>               
        </span>        
    </div>
    <div class="clearfix"></div>
</div>