.btn-significant {
    width: 220px;
    text-align: left;
    margin-bottom: 10px;
}

.btn-significant span {
    opacity: 0.7;
    font-size: 12px;
}

@media (max-width: 768px) {
    .btn-significant {
        width: 100%;
    }

    .btn-significant span {
        display: block;
    }
}