.cta {
    margin: 30px 0;
}

.cta .btn {
    text-align: left;
    position: relative;
    padding-right: 24px;
    margin-right: 20px;
}

.cta .btn .byline {
    font-size: 13px;
    opacity: 0.8;
}
.cta .btn span {
    display: block;
}

.cta .btn .fa {
    position: absolute;
    right: 10px;
    top: 10px;
}