h2 {
    margin: 20px 0 20px 0;
    font-size: 28px;
}

.header {
    margin-bottom: 40px;
    padding-top: 40px;
    border-bottom: 3px solid #ddd;
}

#website {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.buttons {
    text-align: right;
    margin-top: 15px;
}

.buttons button[type=submit] {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.buttons .fa {
    opacity: 0.8;
}

.task-type {
    padding-right: 0;
}

.task-type .inner {
    padding-left: 0;
}

.task-type label {
    display: block;
    margin: 0;
    padding: 6px 12px 6px 26px;
}

.task-type .description {
    display: block;
    opacity: 0.8;
    font-size: 90%;
    margin-top: 4px;
}

.task-type .description .fa-minus-circle {
    margin-left: -20px;
    margin-right: 5px;
    opacity: 0.8;
}

.buttons .options {
    margin-top: 30px;
}

.test-option {
    margin: 15px 0 0 0;
}

.modal-launcher {
    text-align: left;
    padding-left: 28px;
}

.test-options-set {
    margin: 20px 0;
}

.collapse-control-group .collapse-control {
    border-right: 1px solid #ccc;
    padding: 0 4px 0 14px;
}

.collapse-control-group .collapse-control:first-of-type {
    padding-left: 0;
}

.collapse-control-group .collapse-control:last-of-type {
    padding-right: 0;
    border-right: none;
}

#recent-activity h2 {
    display: inline-block;
    margin-right: 12px;
}

.task-types .checkbox {
    margin-bottom: 0;
    margin-top: 15px;
}

.collapse-control-group {
    margin-top: 20px;
}

.task-type .account-required {
    opacity: 0.6;
}

@media (min-width: 1200px) {
    #test-start-form .buttons .btn-container {
        padding-right:0;
    }

    #test-start-form .buttons .btn-container:last-of-type {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .header {
        padding-top: 15px;
    }

    .task-types {
        margin-top: 15px;
    }

    .collapse-control-group .collapse-control {
        border-right: none;
        display: block;
        padding-left: 14px;
        margin-bottom: 6px;
    }

    .collapse-control-group .collapse-control:first-of-type {
        padding-left: 14px;
    }

    #test-start-form .buttons .btn-container:first-of-type {
        padding-right:0;
    }

    #test-start-form .buttons .btn-container .btn {
        padding-left: 6px;
    }

    .task-types .checkbox {
        margin-bottom: 0;
        margin-top: 0;
    }

    .modal-launcher {
        padding-left: 20px;
    }
}