#website {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.buttons {
    text-align: right;
}

.buttons button[type=submit] {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.buttons .modal {
    text-align: left;
}

.buttons .fa {
    opacity: 0.8;
}

.task-type {
    padding-right: 0;
}

.task-type .inner {
    padding-left: 0;
}

.task-type label {
    display: block;
    margin: 0;
    padding: 6px 12px 6px 26px;
}

.task-type .description {
    display: block;
    opacity: 0.8;
    font-size: 90%;
    margin-top: 4px;
}

.buttons .options {
    margin-top: 30px;
}

.test-option {
    margin: 15px 0 0 0;
}

.modal-action-badge {
    text-align: left;
    padding-left: 13px;
}

.modal-action-badge .actions {
    display: block;
    padding-left: 23px;
}