/*#finished-tests a.url .btn-wrapper {*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*padding-left: 14px;*/
/*}*/

/*#finished-tests a.url .btn-wrapper .btn-spacer-left {*/
    /*border-left: 2px solid #fff;*/
/*}*/

#finished-tests .reason {
    margin-bottom: -20px;
    margin-top: 20px;
}

#finished-tests .summary-figure {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    position: relative;
}

#finished-tests .summary-stats .summary-figure a,
#finished-tests .summary-stats .summary-figure .anchor {
    padding-top: 20px;
}

#finished-tests .summary-stats {
    margin-top: 20px;
}

#finished-tests .stat {
    width: 80px;
    margin-right: 20px;
}

#finished-tests .requires-results .summary-stats {
    visibility: hidden;
}

#finished-tests .requires-results .preparing {
    position: absolute;
    width: 100%;
    top: 50px;
}

@media (max-width: 768px) {
    #finished-tests .requires-results .preparing {
        width: 95%;
    }
}

@media (max-width: 400px) {
    #finished-tests .stat {
        margin-right: 10px;
    }
}

body.IE8 .summary-stats .outline-container .count {
    background-color: #ddd;
}