.modal-content {
    display:none;
}

.modal-header h3 {
   margin:0 0 10px 0;
}

@media (max-width: 992px) {
    .modal .modal-dialog {
        margin: 0 auto;
    }

    .modal .modal-content {
        border-radius: 0;
        border: none;
    }
}