.modal {
    top: 160px;
}

.modal-content {
    display:none;
}

.modal-header h3 {
   margin:0;
}

@media (max-width: 768px) {
    .modal .modal-dialog {
        margin: 0;
    }

    .modal .modal-content {
        border-radius: 0;
        border: none;
    }
}