/*.terms-notice {
    margin-top: 20px;
}*/

.plans-link {
    padding-left: 0;
}

.plans-link a {
    margin-top: 6px;
    display: block;       
}

.alert {
    margin-top: 20px;
    margin-bottom: -20px;
}

.alert-coupon {
    margin-bottom: 20px;
}

.fa-heart {
    margin-left: 12px;
    margin-right: 4px;
}

@media (max-width: 768px) {

    .plans-link {
        padding-left: 15px;
    }

    #submit {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 18px;
    }

    .form-group-submit-collection {
        margin-top: 40px;
    }

    .alert {
        border-left: none;
        border-right: none;
        border-radius: 0;
        margin: 15px -15px;
    }

    .account-benefits-link {
        display:inline;
    }    

}