#logo {
    position: absolute;
    background: url('/bundles/simplytestablewebclient/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width: 100px;
    height: 100px;
    left: -35px;
    top: 100px;
}

section {
    margin-top: 80px;
}

#content {
    margin-left: 30px;
}