.summary-stats {
    margin-top: 30px;
}

.summary-stats .label {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    margin-right: 30px;
}

.summary-stats .label span {
    opacity: 0.8;
}

.summary-stats .label .count {
    vertical-align: middle;
}

.summary-stats .label .name {
    font-size: 14px;
}

.summary-stats .label .icon {
    font-size: 20px;
    line-height: 20px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

.summary-stats .label .icon .fa {
    font-size: 20px;
}

@media (max-width: 992px) {
    .summary-stats .label {
        display: block;
        text-align: right;
        width: 100%;
        margin: 0 0 10px 0;
        padding-right: 40px;
    }

    .summary-stats .count {
        display: inline;
        padding-right: 0;
    }

    .summary-stats .label .name {
        text-align: left;
    }

    .summary-stats .label .icon {
        top: 10px;
    }
}