.tasks {
    margin-top: 20px;
}

.task-set {
    margin-bottom: 20px;
}

.task-set .url {
    white-space: nowrap;
}

.task {
    margin: 10px 0 10px 15px;
}

.task .meta .type {
    width: 110px;
    display: inline-block;
    opacity: 0.6;
    color: #333;
}

.task .meta .label {
    font-weight: normal;
    font-size: 12px;
    margin-right: 8px;
    padding: 3px 6px;
}

.task .meta:hover {
    text-decoration: none;
}

.task a.meta:hover .type {
    opacity: 1;
}

.task .meta:hover .label-danger {
    background-color: #c9302c;
}

.task .meta:hover .label-primary {
    background-color: #3071a9;
}

.completed .meta .fa-bar-chart-o,
.completed .meta .fa-check {
    color: #5cb85c;
}

.failed .meta .state .fa {
    color: #c9302c;
}

.skipped .meta .state .fa {
    color: #bbb;
}

.cancelled .meta .state .fa {
    color: #bbb;
}
