h1 {
    overflow: hidden;
    background-color: #eee;
    white-space: normal;
    word-wrap: break-word;
}

h1.abridged.is-out {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

h1.abridged.is-in {
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
    position: relative;
    z-index: 10;
    padding: 10px 0;
    margin-top: -10px;
    margin-bottom: -10px;
    overflow: visible;
}

h2 {
    margin:20px 0 20px 0;
    font-size: 28px;
    display: inline-block;
}

.header {
    margin-bottom: 40px;
}

.header .details {
    margin-top: 30px;
}

.summary-stats {
    margin-top: 0;
}

.summary-stats .label {
    display: block;
    text-align: right;
    width: 100%;
    padding-right: 40px;
    position: relative;
    margin: 0 0 10px 0;
}

.summary-stats .count {
    display: block;
    margin-bottom: -6px;
}

.summary-stats .label .icon {
    position: absolute;
    right: 15px;
    top: 20px;
}

.task-type-summary .item {

}

.task-type-summary .task-type-name {
    text-align: right;
}

.task-type-summary .row {
    margin-bottom: 15px;
}

.task-type-summary .badge {
    text-align: right;
}

.task-type-summary .fa-check {
    color: #5cb85c;
}

.task-type-summary .badge-errors {
    color: #fff;
    background-color: #d9534f;
}

.task-type-summary a:hover .badge-errors {
    background-color: #c9302c;
}

.task-type-summary .badge-success {
    color: #fff;
    background-color: #5cb85c;
}

.task-type-summary .badge-warnings {
    background-color: #428bca;
}

.task-type-summary a:hover .badge-warnings {
    background-color: #3071a9;
}

.side-actions {
    text-align: right;
}

.side-actions .modal {
    text-align: left;
}

.side-actions .test-option {
    margin: 0 0 10px 0;
}

.side-actions .test-option .icon-primary {
    opacity: 0.6;
}

.side-actions .test-option .enabled .icon-primary {
    opacity: 1;
}

.side-actions .test-options {
    margin-top: 40px;
}

#test-options {
    margin-top: 30px;
}

.btn-significant {
    width: 220px;
    text-align: left;
    margin-bottom: 10px;
}

.btn-significant span {
    opacity: 0.7;
    font-size: 12px;
}

ul.nav-tabs {
    border-bottom: 1px solid #999;
}

ul.nav-tabs.with-errors {
    border-bottom: 1px solid #d9534f;
}

ul.nav-tabs.with-errors li a:hover {
    border-bottom: 1px solid #d9534f;
}

ul.nav-tabs.with-warnings {
    border-bottom: 1px solid #428bca;
}

ul.nav-tabs.with-warnings li a:hover {
    border-bottom: 1px solid #428bca;
}

ul.nav-tabs.without-errors {
    border-bottom: 1px solid #5cb85c;
}

ul.nav-tabs.without-errors li a:hover {
    border-bottom: 1px solid #5cb85c;
}

.nav-tabs>li.active>a {
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    /*background-color: #ddd;*/
    border: 1px solid #999;
    color: #333;
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 1px solid #999;
}

.nav-tabs>li.tasks-with-errors>a:hover,
.nav-tabs>li.tasks-with-errors>a:focus {
    color: #d9534f;
    border-top-color: #d9534f;
    border-left-color: #d9534f;
    border-right-color: #d9534f;
}

.nav-tabs>li.active.tasks-with-errors>a,
.nav-tabs>li.active.tasks-with-errors>a:hover,
.nav-tabs>li.active.tasks-with-errors>a:focus {
    color: #d9534f;
    border: 1px solid #d9534f;
    border-bottom-color: #fff;
}

.nav-tabs>li.tasks-with-warnings>a:hover,
.nav-tabs>li.tasks-with-warnings>a:focus {
    color: #428bca;
    border-top-color: #428bca;
    border-left-color: #428bca;
    border-right-color: #428bca;
}

.nav-tabs>li.active.tasks-with-warnings>a,
.nav-tabs>li.active.tasks-with-warnings>a:hover,
.nav-tabs>li.active.tasks-with-warnings>a:focus {
    color: #428bca;
    border: 1px solid #428bca;
    border-bottom-color: #fff;
}

.nav-tabs>li.tasks-without-errors>a:hover,
.nav-tabs>li.tasks-without-errors>a:focus {
    color: #5cb85c;
    border-top-color: #5cb85c;
    border-left-color: #5cb85c;
    border-right-color: #5cb85c;
}

.nav-tabs>li.active.tasks-without-errors>a,
.nav-tabs>li.active.tasks-without-errors>a:hover,
.nav-tabs>li.active.tasks-without-errors>a:focus {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    border-bottom-color: #fff;
}

a.clear-type,
a.clear-type:hover,
a.clear-type:focus {
    display: inline-block;
    background-color: #ddd;
    font-weight: normal;
    color: #333;
    margin-left: 10px;
    margin-bottom: 2px;
}

a.clear-type .fa {
    opacity: 0.6;
}

.tasks {
    margin-top: 20px;
}

.task-set {
    margin-bottom: 20px;
}

.task-set .url {
    white-space: nowrap;
}

.task {
    margin: 10px 0 10px 15px;
}

.task .meta .type {
    width: 110px;
    display: inline-block;
    opacity: 0.6;
    color: #333;
}

.task .meta .label {
    font-weight: normal;
    font-size: 12px;
    margin-right: 8px;
    padding: 3px 6px;
}

.task .meta:hover {
    text-decoration: none;
}

.task a.meta:hover .type {
    opacity: 1;
}

.task .meta:hover .label-danger {
    background-color: #c9302c;
}

.task .meta:hover .label-primary {
    background-color: #3071a9;
}

.completed .meta .fa-bar-chart-o,
.completed .meta .fa-check {
    color: #5cb85c;
}

.failed .meta .state .fa {
    color: #c9302c;
}

.skipped .meta .state .fa {
    color: #bbb;
}

.cancelled .meta .state .fa {
    color: #bbb;
}

div.history {
    position: absolute;
    right: 15px;
    top: 70px;
}

div.history-with-owner {
    top: 140px;
}

.action-badge {
    margin-bottom: 20px;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .task-type-summary .multiple  .item {
        display: block;
        margin-bottom: 4px;
    }
}

@media (max-width: 992px) {
    .task-type-summary .multiple  .item {
        display: block;
        margin-bottom: 4px;
    }

    .summary-stats .count {
        display: inline;
        padding-right: 0;
    }

    .summary-stats .label .name {
        text-align: left;
    }

    .summary-stats .label .icon {
        top: 10px;
    }

    .side-actions {
        margin-top: 40px;
    }

    .side-actions .test-options {
        margin-top: 0;
    }

    .tabs .btn {
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .task-type-summary .label {
        display: inline-block;
        margin-bottom: 10px;
    }

    .task-type-summary .collapse-control {
        display: block;
    }

    .header {
        margin-bottom: 0;
    }

    a.btn {
        display: inline-block;
        margin-bottom: 10px;
    }
}

/*@media (max-width: 1200px) {*/
    /*#device-size-lg {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-md {*/
        /*visibility: visible;*/
    /*}*/

    /*#device-size-sm {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-xs {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/


/*@media (max-width: 992px) {*/
    /*#device-size-lg {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-md {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-sm {*/
        /*visibility: visible;*/
    /*}*/

    /*#device-size-xs {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/

/*@media (max-width: 768px) {*/
    /*#device-size-lg {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-md {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-sm {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-xs {*/
        /*visibility: visible;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*#device-size-lg {*/
        /*visibility: visible;*/
    /*}*/

    /*#device-size-md {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-sm {*/
        /*visibility: hidden;*/
    /*}*/

    /*#device-size-xs {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/