h1 {
    white-space: normal;
    word-wrap: break-word;
}

h2 {
    margin:20px 0 20px 0;
    font-size: 28px;
 }

.header {
    margin-bottom: 40px;
}

.header .progress {
    margin: 8px 0 4px 0;
    height: 4px;
}

.header .progress-summary {
    margin-bottom: 10px;
}

.header .details {
    position: relative;
}

.subtle {
    opacity: 0.6;
}

.side-actions {
    text-align: right;
}

.side-actions .modal {
    text-align: left;
}

.side-actions .test-option .icon-primary {
    opacity: 0.6;
}

.side-actions .test-option {
    margin: 0 0 10px 0;
}

.task-queues .queue  {
    margin: 0 0 5px 0;
}

.task-queues .queue .name {
    padding-right: 5px;
    padding-left: 0;
}

.task-queues .queue .name .label {
    display:block;
    text-align: right;
}

.task-queues .queue .bar {
    padding-left: 0;
}

.task-queues .queue .bar .label {
    display: inline-block;
    text-align: left;
}

.task-queues .queue .bar .wrapper {
    display: block;
    background-color: #e6e6e6;
    border-radius: .25em;
}

.task-queues .label {
    padding-top: 3px;
}

.ammendment-clone,
.ammendment-clone a {
    background-color: #eee;
    color: transparent;
    border-color: transparent;
}

#test-options {
    margin-top: 30px;
}

#tasks {
    display:none;
}

#tasks h2 .fa {
    margin-left: 15px;
}

.tasks {
    margin-top: 0;
}


@media (min-width: 1200px) {
    .side-actions {
        position: static;
    }

    .side-actions .test-options {
        position: absolute;
        bottom: 10px;
        width: auto;
    }
}
