.header .lead {
    margin: 20px 0 -10px 0;
}

.task {
    margin: 10px -15px 20px 0;
}

.url {
    color: #333;
}

.task:hover .url{
    color: #000;
}

.url-container {
    padding-right: 0;
    padding-left: 0;
}

.occurrences-container {
    padding-left: 0;
}

.url-container,
.occurrences-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.by-error-list h3 {
    border-left: 3px solid #d9534f;
    padding-left: 15px;
}

.by-error-list .error {
    margin-bottom: 60px;
}

.by-error-list li ul,
.by-error-list li p {
    padding-left: 18px;
}

.by-error-list li li {
    padding-top: 3px;
    padding-bottom: 3px;
    opacity: 0.8;
}

.caret-container {
    margin-left:6px;
}

.caret-container:hover {
    text-decoration: none;
}

.tasks .task {
    margin-top: 20px;
    margin-left: 18px;
}

.tasks .task:first-of-type {
    margin-top: 0;
}

.by-error-list .lead {
    margin-top: 20px;
}

.by-error-list .pages .sort p {
    margin: 0 0 0 -15px;
}

.sort .url-container,
.sort .occurrences-container {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}