h1 {
    white-space: normal;
    word-wrap: break-word;
}

h2 {
    margin:20px 0 20px 0;
    font-size: 28px;
 }

.header {
    margin-bottom: 40px;
}

.header .progress {
    margin: 8px 0 4px 0;
    height: 4px;
}

.header .progress-summary {
    margin-bottom: 10px;
}

.header .details {
    position: relative;
}

.subtle {
    opacity: 0.6;
}

.side-actions {
    text-align: right;
}

.side-actions .modal {
    text-align: left;
}

.side-actions .test-option .icon-primary {
    opacity: 0.6;
}

.side-actions .test-option {
    margin: 0 0 10px 0;
}

.task-queues .queue  {
    margin: 0 0 5px 0;
}

.task-queues .queue .name {
    padding-right: 5px;
    padding-left: 0;
}

.task-queues .queue .name .label {
    display:block;
    text-align: right;
}

.task-queues .queue .bar {
    padding-left: 0;
}

.task-queues .queue .bar .label {
    display: inline-block;
    text-align: left;
}

.task-queues .queue .bar .wrapper {
    display: block;
    background-color: #e6e6e6;
    border-radius: .25em;
}

.task-queues .label {
    padding-top: 3px;
}

.ammendment-clone,
.ammendment-clone a {
    background-color: #eee;
    color: transparent;
    border-color: transparent;
}

#test-options {
    margin-top: 30px;
}

#tasks {
    display:none;
}

#tasks h2 .fa {
    margin-left: 15px;
}

.tasks {
    margin-top: 0;
}

/*#cancel-button,*/
/*#cancel-crawl-button {*/
    /*width: auto;*/
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 0;*/
/*}*/

.test-summary,
.side-actions .test-options {
    visibility: hidden;
}

.job-queued .test-summary,
.job-in-progress .test-summary,
.job-queued .side-actions .test-options,
.job-in-progress .side-actions .test-options {
    visibility: visible;
}

.job-crawling #cancel-button {
    display:none;
}

#cancel-crawl-button {
    display:none;
}

.job-crawling #cancel-crawl-button {
    display: inherit;
    position: absolute;
    top: 0;
    right: 15px;
    width: auto;
}

.task-types .fa {
    opacity: 0.6;
}

.task-types .not-available {
    opacity: 0.6;
}

.task-types .task-type {
    margin-bottom: 6px;
}


@media (min-width: 992px) {
    .side-actions {
        position: static;
    }

    .side-actions .test-options {
        position: absolute;
        bottom: 10px;
        width: auto;
        right: 0;
    }
}

@media (max-width: 768px) {
    .header .task-types {
        margin-top: 15px;
    }

    .btn-significant span {
        display: inline;
    }

    .btn-significant {
        margin-top: 20px;
        width: 100%;
    }

    .task-types p {
        display: inline;
    }

    .task-type-summary {
        display: inline;
    }

    .test-options {
        margin-top: 20px;
    }

    .side-actions {
        text-align: left;
    }

    .header {
        margin-bottom: 0;
        padding-top: 15px;
    }

    .test-summary,
    .side-actions .test-options {
        display:none;
    }

    .job-queued .test-summary,
    .job-in-progress .test-summary,
    .job-queued .side-actions .test-options,
    .job-in-progress .side-actions .test-options {
        display: inherit;
    }
}
