h1 {
    white-space: nowrap;
    overflow: hidden;
}

.summary-stats {
    margin-top: 0;
    padding-top: 15px;
}


.summary-prose-section {
    margin-top: 20px;
    padding-left: 15px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.summary-prose-section ul,
.summary-prose-section li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.summary-prose-section .badge-wrapper {

}

.summary-prose-section .badge {

}

.summary-prose .errors {
    border-left: 3px solid #d9534f;
}

.summary-prose .warnings {
    border-left: 3px solid #428bca;
}

.task-type-summary {
    margin: 20px 0;
}

.task-type-summary .label {
    color: #888;
    background-color: #ddd;
    font-weight: normal;
    font-size: inherit;
    margin-right: 10px;

}

.task-type-summary .available {
    color: #333;
}

.btn-significant {
    position: absolute;
    top: 0;
    right:15px;
    width: 160px;
    text-align: left;
}

.btn-significant span {
    display: block;
    opacity: 0.7;
    font-size: 12px;
}

