h1 {
    white-space: normal;
    word-wrap: break-word;
}

h1.abridged.is-out {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

h1.abridged.is-in {
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
    position: relative;
    z-index: 10;
    padding: 10px 0;
    margin-top: -10px;
    margin-bottom: -10px;
    overflow: visible;
}

h2 {
    margin:20px 0 20px 0;
    font-size: 28px;
    display: inline-block;
}

.header {
    margin-bottom: 40px;
}

.header .details {
    margin-top: 30px;
    position: relative;
}

.summary-stats {
    margin-top: 0;
}

.summary-stats .label {
    padding-right: 40px;
    position: relative;
}

.summary-stats .label .icon {
    position: absolute;
    right: 15px;
    top: 16px;
}

.task-type-summary .task-type-name {
    text-align: right;
    padding-right: 0;
    padding-left: 0;
}

.task-type-summary .task-type-count {
    padding-right: 0;
}

.task-type-summary .not-available {
    opacity: 0.6;
}

.task-type-summary .row {
    margin-bottom: 15px;
}

.task-type-summary .badge {
    text-align: right;
}

.task-type-summary .fa-check {
    color: #5cb85c;
}

.task-type-summary .badge-errors {
    color: #fff;
    background-color: #d9534f;
}

.task-type-summary a:hover .badge-errors {
    background-color: #c9302c;
}

.task-type-summary .badge-success {
    color: #fff;
    background-color: #5cb85c;
}

.task-type-summary .badge-warnings {
    background-color: #428bca;
}

.task-type-summary a:hover .badge-warnings {
    background-color: #3071a9;
}

.side-actions {
    text-align: right;
}

.side-actions .test-option {
    margin: 0 0 10px 0;
}

.side-actions .test-option .icon-primary {
    opacity: 0.6;
}

.side-actions .test-option .enabled .icon-primary {
    opacity: 1;
}

#test-options {
    margin-top: 30px;
}

ul.nav-tabs {
    border-bottom: 1px solid #999;
}

ul.nav-tabs.with-errors {
    border-bottom: 1px solid #d9534f;
}

ul.nav-tabs.with-errors li a:hover {
    border-bottom: 1px solid #d9534f;
}

ul.nav-tabs.with-warnings {
    border-bottom: 1px solid #428bca;
}

ul.nav-tabs.with-warnings li a:hover {
    border-bottom: 1px solid #428bca;
}

ul.nav-tabs.without-errors {
    border-bottom: 1px solid #5cb85c;
}

ul.nav-tabs.without-errors li a:hover {
    border-bottom: 1px solid #5cb85c;
}

.nav-tabs>li.active>a {
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    border: 1px solid #999;
    color: #333;
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 1px solid #999;
}

.nav-tabs>li.tasks-with-errors>a:hover,
.nav-tabs>li.tasks-with-errors>a:focus {
    color: #d9534f;
    border-top-color: #d9534f;
    border-left-color: #d9534f;
    border-right-color: #d9534f;
}

.nav-tabs>li.active.tasks-with-errors>a,
.nav-tabs>li.active.tasks-with-errors>a:hover,
.nav-tabs>li.active.tasks-with-errors>a:focus {
    color: #d9534f;
    border: 1px solid #d9534f;
    border-bottom-color: #fff;
}

.nav-tabs>li.tasks-with-warnings>a:hover,
.nav-tabs>li.tasks-with-warnings>a:focus {
    color: #428bca;
    border-top-color: #428bca;
    border-left-color: #428bca;
    border-right-color: #428bca;
}

.nav-tabs>li.active.tasks-with-warnings>a,
.nav-tabs>li.active.tasks-with-warnings>a:hover,
.nav-tabs>li.active.tasks-with-warnings>a:focus {
    color: #428bca;
    border: 1px solid #428bca;
    border-bottom-color: #fff;
}

.nav-tabs>li.tasks-without-errors>a:hover,
.nav-tabs>li.tasks-without-errors>a:focus {
    color: #5cb85c;
    border-top-color: #5cb85c;
    border-left-color: #5cb85c;
    border-right-color: #5cb85c;
}

.nav-tabs>li.active.tasks-without-errors>a,
.nav-tabs>li.active.tasks-without-errors>a:hover,
.nav-tabs>li.active.tasks-without-errors>a:focus {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    border-bottom-color: #fff;
}

a.clear-type,
a.clear-type:hover,
a.clear-type:focus {
    display: inline-block;
    background-color: #ddd;
    font-weight: normal;
    color: #333;
    margin-left: 10px;
    margin-bottom: 2px;
}

a.clear-type .fa {
    opacity: 0.6;
}

.action-badge {
    margin-bottom: 20px;
}

.task-type-summary .not-available-icon {
    display: inline-block;
    text-align: right;
}

.task-type-summary .not-available-icon .fa {
    opacity: 0.6;
}

.task-list {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .side-actions {
        position: static;
    }

    .side-actions .test-options {
        position: absolute;
        bottom: 10px;
        width: auto;
        right: 0;
    }

    .summary-stats .count {
        margin-bottom: -6px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .task-type-summary .multiple  .item {
        display: block;
        margin-bottom: 4px;
    }
}

@media (max-width: 992px) {
    .task-type-summary .multiple  .item {
        display: block;
        margin-bottom: 4px;
    }

    .side-actions {
        margin-top: 40px;
    }

    .side-actions .test-options {
        margin-top: 0;
    }

    .tabs .btn {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .tabs .selected {
        -webkit-box-shadow: 0 0 4px 1px #0088cc;
        box-shadow: 0 0 4px 1px #0088cc;
    }

    .task-type-summary .task-type-count {
        padding-left: 15px;
    }

    .summary-stats .label .icon {
        top: 6px;
    }
}

@media (max-width: 768px) {
    .side-actions {
        margin-top: 0;
    }

    .side-actions .buttons {
        margin: 20px 0;
    }

    .retest-col {
        padding-left: 0;
    }

    .header {
        padding-top: 15px;
    }
}