.header p {
    margin-top: 10px;
}

.label-fix,
.label-fixes,
.alert-fixes {
    background-color: #f8b426;
}


.label-fix[href]:hover,
.label-fix[href]:focus,
.label-fixes[href]:hover,
.label-fixes[href]:focus,
.issue-list li:hover .label-fix[href]
{
    background-color: #f89406;
}

.failed,
.no-longer-available,
.issue-list {
    margin-top: 40px;
}

.error-list {
    border-left: 3px solid #d9534f;
}

.fixes-list {
    border-left: 3px solid #f89406;
}

.warning-list {
    border-left: 3px solid #428bca;
}

.issue-list h2,
.issue-list h2 .badge {
    vertical-align:middle;
}

.issue-list h3 {
    word-break: break-all;
}

.issue-list h3 .badge {
    vertical-align: top;
}

.issue-list ul,
.issue-list li {
    margin:0;
    padding:0;
}

.issue-list li {
    list-style: none;
}

.issue-list .issues li {
    border-bottom: 1px solid #eee;
    padding: 16px 0;
}

.issue-list .issues li:last-of-type {
    border-bottom: none;
}

.issue-list .meta {
    opacity: 0.6;
    position: absolute;
    left: 15px;
}

.issue-list .meta .line {
    float:left;
    width: 80px;
}

.issue-list .meta .column {
    float:right;
    width: 100px;
}

.grouped-issues h3 {
    padding-left: 5px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    padding-top: 40px;
}

.grouped-issues h3 a {

}

.grouped-issues h3 a,
.grouped-issues h3 a:hover,
.grouped-issues h3 a:focus {
    color:#333;
    text-decoration: none;
}

.grouped-issues h3 .fa {
    margin-right:8px;
    font-size: 18px;
    opacity: 0.8;
    margin-left: -5px;
}

.issue-list .issues li:hover {
    background-color: #eee;
}

.issue-list .issues li:hover .meta {
    opacity: 1;
}

.fixes-list a {
    display:block;
    padding: 16px 0;
}

.fixes-list .issues li {
    padding:0;
}

pre.prettyprint {
    background-color: transparent;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 10px;
    border: none;
    border-radius: 0;
}

.failed pre.prettyprint {
    border-left: 3px solid #ccc;
    margin-bottom: 20px;
}

.js-static-analysis-issue-list pre.prettyprint {
    opacity: 0.8;
    border-left: 3px solid #ccc;
}

.js-static-analysis-issue-list li:hover pre.prettyprint {
    opacity: 1;
}

.link-integrity-issue-list pre.prettyprint {
    padding-left:0;
}

.issue-list .collapse-control {
    margin-left: 10px;
}

.html-validation-issues .meta {
    width: 200px;
}

.html-validation-issues .content {
    margin-left: 225px;
    position: relative;
    padding-right: 50px;
}

.html-validation-issues .content .fix {
    position: absolute;
    right:15px;
    top:0;
}

.css-validation-issues .meta {
    width: 80px;
}

.css-validation-issues .content {
    margin-left: 95px;
}

.css-validation-issues .content code {
    white-space: normal;
}

.js-static-analysis-issues .meta {
    width: 200px;
}

.js-static-analysis-issues .content {
    margin-left: 225px;
}

.failed .lead {
    margin-top: 40px;
}

@media (min-width: 992px) {
    .issue-list .meta {
        font-family: Menlo, Monaco, Consolas, monospace;
    }

    .issue-list .content {
        padding-left:0;
    }
}

@media (max-width: 992px) {
    .header {
        padding-bottom: 0;
    }

    .issue-list .meta {
        position: static;
    }

    .issue-list .content {
        margin-left: auto;
    }

    .issue-list .meta .line,
    .issue-list .meta .column {
        float:none;
        display:inline-block;
        width: auto;
    }

    .grouped-issues h3 .fa {
        display: none;
    }
}

