.test-options-set {
    margin: 0 0 20px 0;
    border-left: 3px solid #ddd;
    padding: 5px 10px 5px 10px;
    background-color: #e7e7e7;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.test-options-set:hover {
    border-left: 3px solid #ccc;
    background-color: #e2e2e2;
}

.test-options-set .collapse-control {
    display:inline-block;
    margin: 0 0 6px 0;
}

.test-options-advanced {
    margin-left: 20px;
}

.test-options-set h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.ignore-common-cdn-domains li,
.js-static-analysis-ignore-common-cdns li {
    opacity: 0.8;
}

.css-domains-to-ignore textarea {
    width: 100%;
}

#js-static-analysis-validation-options h3 span {
    font-weight: normal;
}

.test-options-set .snug-heading {
    margin-bottom: -2px;
}

.js-static-analysis-jslint-options {
    margin-top: 20px;
}

.jslint-option-set-group {
    margin-top: 20px;
}

input.inline-short {
    display:inline;
    width:50px;
}

.jslint-limits .stop-when-reaching input[type=radio] {
    margin-top: 10px;
}

.jslint-predef {
    margin-top: 10px;
    width: 80%;
}

@media (min-width: 1200px) {
    .css-validator-option-set.css-common-cdn-domains {
        margin-left: -6%;
    }
}