h1 {
    font-size: 32px;
    line-height: 44px;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    opacity: 0.7;
}

.confirm-email-change form {
    margin-top: 20px;
}

.account-section {
    margin-bottom: 40px;
}

.news-subscriptions .checkbox {
    margin-bottom: 20px;
}

.news-subscriptions .checkbox strong {
    display:block;
    font-weight: normal;
}

.news-subscriptions .checkbox span {
    opacity: 0.7;
}