body {
    position: relative;
}

h1 {
    font-size: 32px;
    line-height: 44px;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    opacity: 0.7;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;    
}

.affix {
    top: 80px;
}

.sidenav {
    padding-top: 22px;
}

.sidenav .nav .nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    /*font-size: 12px;*/
    font-weight: 400;
}
.sidenav .nav>li>a {
    display: block;
    padding: 4px 20px 4px 20px;
    /*font-size: 13px;*/
    font-weight: 500;
    color: #999;
}

.sidenav .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #0088cc;
    background-color: transparent;
    border-left: 2px solid #0088cc;
}

/*
   Need background colour on opaqued items in IE otherwise it doesn't
   know what colour to anti-alias against.
 */
body.IE8 h2,
body.IE8 h3 {
    background-color: #fff;
}

@media (max-width: 768px) {
    body {
        margin-top: 40px;
        background-color: #eee;
    }

    body.IE8 h2,
    body.IE8 h3 {
        background-color: #eee;
    }

    button.xs-full {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 18px;
    }
}