<div class="summary-stats">
    {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
    with { 'count': test.errorCount, 'name':'error', 'anchor': '?filter=with-errors#test-list' }
    %}

    {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
    with { 'count': test.warningCount, 'negative':'primary', 'name':'warning', 'anchor': '?filter=with-warnings#test-list' }
    %}

    {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-negative.html.twig'
    with { 'count': remote_test.errorfreetaskcount, 'name':'test', 'name_suffix':'without errors', 'positive': 'danger', 'negative': 'success', 'anchor': '?filter=without-errors#test-list' }
    %}
</div>