{% if user_summary.plan.accountplan.name == 'basic' and user_summary.plan.hasTrialPeriodAvailable %}
<p>
    You're on a <strong>free</strong> plan, no payment details needed.
</p>
{% else %}
    {% if not user_summary.getTeamSummary.isInTeam or (user_summary.getTeamSummary.isInTeam and user.username == team.leader) %}
        {% if user_summary.stripeCustomer.hasActiveCard %}
            {% if user_summary.stripeCustomer.activeCard.hasCheckFailures %}
                {% include '@SimplyTestableWebClient/bs3/Partials/alert.html.twig' with {
                    type: 'error',
                    view: 'Partials/User/Account/PaymentDetails/Alert/Content/payment-summary-card-check-failures.html.twig'
                } only %}
                <br>
            {% endif %}
            {% include 'Partials/User/Account/PaymentDetails/card-summary.html.twig' %}
        {% else %}
            {% include 'Partials/User/Account/PaymentDetails/no-card.html.twig' %}
        {% endif %}
    {% else %}
        <p>
            You're on a shared team account, no payment details needed from you.
        </p>
    {% endif %}
{% endif %}
