{% if plan_subscribe_success is defined and plan_subscribe_success != '' %}
    {% if plan_subscribe_success == 'already-on-plan' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>You're already there!</strong></p>
            <p>
                You've already on the <strong>{{ user_summary.plan.accountplan.name }}</strong> plan.
            </p>
        </div>                
    {% else %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>All done!</strong></p>
            <p>
                You've changed to the <strong>{{ user_summary.plan.accountplan.name }}</strong> plan.
            </p>
        </div>                
    {% endif %}
{% endif %}

{% if plan_subscribe_error is defined and plan_subscribe_error != '' %}            
    {% if plan_subscribe_error == '403' %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>That didn't work</strong></p>
            <p>
                Looks like we're having trouble talking to our subscription service.                
            </p>
        </div>            
    {% endif %}        
{% endif %}

{% if user_account_card_exception_code is defined and user_account_card_exception_code != '' %}            
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><strong>That didn't work</strong></p>

        {% if user_account_card_exception_code == 'incorrect_number' %}
            <p>
                Your payment card number is incorrect.
            </p>

        {% endif %}

        {% if user_account_card_exception_code == 'invalid_number' %}
            <p>
                Your payment card number is not valid.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'invalid_expiry_month' or user_account_card_exception_code == 'invalid_expiry_year' %}
            <p>
                Your payment card's expiry date is invalid. Has it expired?
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'invalid_cvc' %}
            <p>
                Your payment card's security (CVC) code is invalid.
            </p>            
        {% endif %}

        {% if user_account_card_exception_code == 'expired_card' %}
            <p>
                Your payment card has expired. Are you using an old card by mistake?
            </p>                        
        {% endif %}

        {% if user_account_card_exception_code == 'incorrect_cvc' %}
            <p>
                Your payment card's security code is incorrect. Try updating
                your card details.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'incorrect_zip' %}
            <p>
                The zip or postal code you entered failed validation. Did you
                enter the wrong address for your card?
            </p>         
        {% endif %}

        {% if user_account_card_exception_code == 'card_declined' %}
            <p>
                Your payment card was declined by your card provider.
            </p>            
            <p>
                Some common reasons for this:
            </p>
            <ul>
                <li>
                    you have reached your card's limit
                </li>            
                <li>
                    your card has been blocked
                </li>            
                <li>
                    your card provider's fraud checks are a little flaky
                </li>
            </ul>
            <p>
                If you can't immediately figure this one out, give your
                card provider a call and ask them why charges for Simply Testable
                are being declined.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'missing' %}
            <p>
                You need to add a credit or debit card so that we can take payment for
                your premium subscription.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'processing_error' %}
            <p>
                An error occurred while processing payment for your premium subscription.
            </p>         
            <p>
                This can happen from time to time if your card provider is having issues.
                Sometimes we ask them to charge your card and they just ignore us.
            </p>         
            <p>
                Please give it a go again in a few minutes.
            </p>            
        {% endif %}	                    

    </div>        
{% endif %}

{% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Plan:summary.html.twig' %}

<h3 id="plan-allowances">Allowances</h3>
{% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Plan:allowances.html.twig' %}

<div id="plan-upgrade-downgrade">
    <h3>Upgrade/downgrade</h3>

    <p>
        Need to test larger sites or need to run a greater amount of tests?
    </p>

    <a class="btn btn-default" href="{{ path('view_user_account_plan_index') }}#plan-upgrade-downgrade">Change your plan <i class="fa fa-caret-right"></i></a>
</div>