{% set heading = 'Character encoding confusion!' %}

{% set content %}
<p id="reason">
    The character encoding used for the page at <a href="{{ task.url }}">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-64.html.twig' with {'url': task_url} %}</a>
    is not quite right.
</p>

<p>
    Either the provided character encoding is wrong or there are one or more
    characters in the page that are wrongly encoded.
</p>

{% if task.type == 'HTML validation' %}
    <p>
        On this subject, the HTML validator said:
    </p>

    <blockquote>{{ task.output.result.getFirstError|raw }}</blockquote>
{% endif %}
{% endset %}

{% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results/Task/Failed:failure-message.html.twig' %}