{% set heading = 'Invalid Document Type!' %}

{% set content %}
<p id="reason">
    The page at <a href="{{ task.url }}">{% include 'Partials/url/utf8-raw-possibly-truncated-64.html.twig' with {'url': task_url} %}</a> contains an invalid doctype declaration:
</p>

<pre>{{ task.output.result.firstError.message }}</pre>

<p>
    Have a look at <a href="http://www.w3.org/QA/2002/04/valid-dtd-list.html">recommended doctype declarations</a>
    and read more about <a href="http://en.wikipedia.org/wiki/Document_Type_Declaration">what a doctype declaration is</a>.
</p>
{% endset %}

{% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results/Task/Failed:failure-message.html.twig' %}
