<div class="row task sort invisible">
    <div class="meta">
        <div class="col-lg-10 url-container">
            <p class="sort-control link" data-sort-keys="{{ ['url']|json_encode }}">Sort by URL <i class="fa fa-caret-down"></i></p>
        </div>
        <div class="col-lg-2 occurrences-container">
            <p class="sort-control sorted" data-sort-keys="{{ ['occurrences', 'url']|json_encode }}">Sorted by error count <i class="fa fa-caret-down"></i></p>
        </div>
    </div>
</div>
