<div id="completion-percent" class="state-{% if test is defined %}{{test.state}}{% endif %}">
    <div class="progress progress-striped active">
        <div id="completion-percent-bar" class="bar" style="width:{{ remote_test.completionpercent }}%;"></div>
    </div>
    <p>
        <span id="completion-percent-state-label">{{ state_label }}</span><span id="completion-time-remaining">&nbsp;</span>        
    </p>
    {% if test is defined and test.state == 'crawling' and is_owner %}
    <form id="cancel-crawl-form" class="top-right-form" method="post" action="{{ path('test_cancel_crawl', {'test_id':test.testId, 'website':test.website}) }}">
        <button type="submit" class="btn btn-warning">Stop finding URLs, start testing</button>
    </form> 
    {% endif %}

</div> 