<div id="completion-percent">
    <h2 class="info"><i id="completion-percent-state-icon" class="{{ state_icon }}"></i>
        <span id="completion-percent-state-label">{{ state_label }}</span>        
    </h2>
    <div class="progress progress-striped active">
        <div id="completion-percent-bar" class="bar" style="width:{{ completion_percent }}%;"></div>
    </div>            
    <div id="completion-time-remaining">&nbsp;</div>
</div> 