        <div id="test-list" class="state-{{test.state}}">
            <div class="row-fluid">
                <div class="span12">
                    <section id="task-list-container">
                        <h2 class="info"><i class="icon-tasks"></i> Progress</h2>
                    </section>  
                </div>
            </div>            
        </div>