{% for task in tasks %}
    <div class="task {{ task.state }}" id="task{{ task.taskId }}" data-state="{{ task.state }}">
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/TaskList/Task:task.html.twig' %}
    </div>
{% endfor %}