<ul class="refs grouped-issues collapse in" id="error-list-content">
    {% for ref,errors in errors_by_ref %}
        <li class="error-group">
            <h3>
                <a href="{{ ref|escape('html') }}">
                    <i class="fa fa-file-code-o"></i>{{ (ref is empty) ? task.url : ref }}
                    <span class="badge alert-danger">{{ errors|length }}</span>
                </a>
            </h3>

            <ul class="issues css-validation-issues">
                {% for message in errors %}
                    <li class="issue error">
                        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Task/Succeeded/ErrorList/css-validation:error.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>