<p>
    <strong>Well, this is embarrassing.</strong>
</p>
<p>
    I can't send email at the moment. Neither can I email my makers so that they can fix this. Awkward.
</p>
<p>
    You're a nice person. Could you <a href="mailto:{% autoescape false %}{{ contact_email }}{% endautoescape %}">email my makers</a> so that they can fix this?
</p>
