<div class="alert alert-danger">
    <strong><i class="icon icon-exclamation-sign"></i></strong> Your card failed some verification checks.
    <a href="/app_dev.php/account/card/">Fix this <i class="fa fa-caret-right"></i></a>
</div>
<br>