<p>
    <strong>Sorry, you can't invite {{ email }}</strong>
</p>
<p>
    The person you want to invite has their own paid subscription. People
    with paid subscriptions can't join teams as it really, really confuses
    things.
</p>
