{% extends 'Partials/Alert/Content/postmark-inactive-recipient.html.twig' %}

{% block perhaps_mailbox_full %}
    <p>
        Perhaps their mailbox is full, perhaps the email address doesn't exist.
    </p>
{% endblock %}
