/**
 * app.css
 */

.navbar .brand {
    background: url('/bundles/simplytestablewebclient/images/st30.png') transparent no-repeat 5px 4px;
    color: #08C;
    padding-left: 40px;
}

.navbar-inverse .brand:hover {
    color:#0ae;
}

.navbar .nav > li {
    padding-top:2px;
    position:relative;
}

.navbar .nav > li i.icon {
    position: absolute;
    top: 12px;
    left: -4px;    
}

.navbar .nav > li:hover i.icon {
    color:#eee;
}

.navbar-inverse .nav .active>a,
.navbar-inverse .nav .active>a:hover,
.navbar-inverse .nav .active>a:focus {
    color:#ffffff;
    background-color:transparent;
}

body {
    margin-top:80px;
}

.hero-unit {
    padding: 30px 60px 0px 60px;
    position:relative;
    height:100px;
}

.hero-unit h1 {
    font-size:40px;
    margin:0;
}

#logo {
    position: absolute;
    background: url('/bundles/simplytestablewebclient/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width: 100px;
    height: 100px;
    left: -50px;    
}

.outer {
    width:80%;
    margin:0 10%;
}

#main section,
div.main section {
    position: relative;
}

#main section h1,
#main section h1 label,
div.main section h1,
div.main section h1 label {
    font-size: 28px;
    line-height: 32px; 
    font-weight: normal;
}

section .fields i,
section .info i {   
    color:#08c;    
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    margin-top:-4px;   
}

body.app div.main section .fields i {
    margin-top: -4px;
}

#main section .info i,
div.main section .info i,
div.main section .fields i
{
    background: url('/bundles/simplytestablewebclient/images/circle54.png') transparent no-repeat top left;
    width:56px;
    height:56px;
    line-height: 32px;     
    left: -28px;
    font-size: 48px;
    line-height: 48px;     
    margin-top:-8px;
}

#main .leader h1 .sub-state,
div.main .leader h1 .sub-state {
    font-size:16px;
    opacity:0.4;
}

section.top {
    height:110px;
}

#main section,
div.main section {
    background-color: #eee;
    padding:20px 30px;
    margin-bottom: 30px;
}

#main #input .fields input,
div.main #input .fields input {
    width:60%;
}

#main #input .fields button i,
div.main #input .fields button i {
    margin-left:4px;
}

#main #progress p.info,
div.main #progress p.info {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest {
    position:relative;
}

#latest h2 {
    font-weight: normal;
}

#latest h2 i {
    right:-25px;
    margin-top: -10px;    
    font-size: 28px;
    line-height: 32px;  
    background: url('/bundles/simplytestablewebclient/images/circle40.png') transparent no-repeat top left;
    width:40px;
    height:40px;
    line-height: 32px;    
}

#latest section {
    background-color: #eee;
    padding:20px;
    margin-bottom: 30px;    
}

#latest h2 {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest .total {
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 0;
}

#latest #completion .state {
    margin-top:0;
    opacity:0.8;
}

#latest section p.listed {
    margin-bottom:0;
}

section h2 {
    font-weight: normal;
}

#test-list #task-list-container .tasks {
    list-style:none;
    margin: 20px 0 0 0;
    overflow:hidden;
}

#test-list #task-list-container .task {
    list-style-type: none;
    margin:0 0 0 0;
    padding:0;
}

#test-list #task-list-container .task .url {
    display:block;
}

#test-list #task-list-container .task .meta {
    margin: 0 0 0 20px;
}

#test-list #task-list-container .task .meta .output-indicator {
    /*    margin-left:8px;*/
}

#test-list #task-list-container .tasks .queued i,
#test-list #task-list-container .tasks .queued-for-assignment i {
    color:#F89406;
}

#test-list #task-list-container ul.tasks .in-progress i {
    color:#08c;
}

#test-list #task-list-container ul.tasks .failed-no-retry-available i,
#test-list #task-list-container ul.tasks .failed-retry-available i,
#test-list #task-list-container ul.tasks .failed-retry-limit-reached i,
#test-list #task-list-container ul.tasks .failed i {
    color:#953B39;
}

#test-list #task-list-container ul.tasks .completed i {
    color:#51A351;
}

#test-list #task-list-container ul.tasks .skipped i,
#test-list #task-list-container ul.tasks .cancelled i {
    color:#999;
}

#test-list #task-list-container ul.tasks i.icon-caret-right {
    color:#fff;
}

#test-list #task-list-container ul.tasks .task .type {
    opacity:0.6;
    display:inline-block;
    width:110px;
}

#test-list .tab-content .tab-pane {
    padding-top:20px;
}

#test-list #task-list-container #tab-list {
    margin-bottom:0;
}

#test-list #task-list-container #tab-list .tab-hidden {
    display:none;
}

#test-list #task-list-container #tab-list .tab-visible {
    display:block;
}

#test-list .tab-list-control {
    color: #08c;
    display: block; 
    font-size: 20px;  
    padding:8px 12px;
}

#test-list .tab-list-control:hover {
    color: #005580;
    cursor:pointer;
    background-color:#e0e0e0;
}

#test-list #task-list-container .tab-content .tab-pane .tasks {
    margin-top:0;
}

#test-list .tab-content .pane-empty {
    height:400px;
}

#test-summary .test-states {
    width:100%;
}

#test-summary .test-states th {
    text-align: right;
    width:10%;
}

#test-summary .test-states td.bar {
    width:90%;
}

#test-summary .test-states .label {
    display:inline-block;  
    padding: 3px 5px;
}

#test-summary .test-states th .label {
    padding: 2px 5px;
}

#test-summary .test-states .bar span {
    width:100%;    
    margin-left: 6px;
    margin-top:1px;
    padding-top:1px;
    display:block;
}

#test-summary .test-states .queued .bar span {
    background-color:#F89406;
}

#test-summary .test-states .in_progress .bar span {
    background-color:#3A87AD;
}

#test-summary .test-states .completed .bar span {
    background-color:#468847;
}

#test-list #task-list-container h2 i {
    font-size: 38px;
    line-height: 48px;    
}

#test-list span.info i {
    font-size: 38px;
    line-height: 48px;    
}

body.app-task-results #main h1 i,
body.app-results #main h1 i,
body.app-task-results div.main h1 i,
body.app-results div.main h1 i {
    font-size: 38px;
    line-height: 48px;        
}

#test-list #task-list-container .taskSet {
    margin-bottom:10px;
    position:relative;
}

#test-list #task-list-container li.task a.label i {
    color:#fff;
}

body.app-task-results #task-summary th {
    text-align: right;
    padding-right: 10px;
}

body.app-task-results .errors {
    list-style: none;
    margin-left: 0;
}

body.app-task-results .errors li {
    list-style-type: none;
    margin-bottom:16px;
    /*    position:relative;*/
    /*    height: 40px;*/
}

body.app-task-results .errors li pre {
    background-color: transparent;
    border: none;    
    margin-left:0;
    padding-left:0;
    opacity: 0.8;
}

/*body.app-task-results .errors span,
body.app-task-results .errors div.message {
    position:absolute;
}

body.app-task-results .errors .meta {
    left:0px;
    font-style: italic;
}

body.app-task-results .errors .message {
    left:145px;
    font-weight: bold;
}*/

body.app-task-results .errors div.message {
    left:145px;
    font-weight: normal;
}

#main .notification-panel .intro,
div.main .notification-panel .intro {
    margin-bottom: 30px;
    border-bottom: 1px solid #DDD;
    padding-bottom:30px;
    margin-bottom:30px;
}

#main .notification-panel .intro p,
div.main .notification-panel .intro p {
    font-size: 18px;
    line-height: 26px;
}

body.app-task-results section .notification h3,
div.main .notification-panel h3,
#main .notification-panel h3 {
    font-weight: normal;
}

body.app-task-results section .notification p code {
    font-size: 22px;
    line-height: 22px;
    padding: 6px 6px 2px 6px;    
}

body.app-task-results section .notification p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 14px;
}

body.app-task-results section .notification blockquote {
    border-left-color: #ccc;
}

body.single-page-dialog .input-append {
    width:100%;
}

body.single-page-dialog .intro p {
    font-size:15px;
}

body.single-page-dialog #main section,
body.single-page-dialog div.main section {
    margin-top:80px;  
}

body.single-page-dialog section .content {
    margin-left:30px;
}

body.single-page-dialog #main form,
body.single-page-dialog div.main form {
    margin:20px 0;
}

body.single-page-dialog #main input,
body.single-page-dialog div.main input {
    width:94%;
}

body.single-page-dialog #main .input-append input,
body.single-page-dialog div.main .input-append input {
    width:70%;
}

body.single-page-dialog #main button.submit,
body.single-page-dialog div.main button.submit {
    margin-top:20px;
}


form .larger input {
    font-size: 15px;
    padding: 12px 9px 12px 9px;      
}

body.app-progress form .larger input {
    font-size: 15px;
    padding: 14px 9px 13px 9px;      
}

body.app #input .btn-primary {
    width:20%;
}

form .larger button {
    padding-top: 12px;    
    padding-bottom:13px;
}

form .larger .control-label,
form .larger label {
    font-size: 15px;    
    padding-top:13px;
}

div.logo {
    position: absolute;
    background: url('/bundles/simplytestablewebclient/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width: 100px;
    height: 100px;
    left: -50px;
}

div.input-secondary {
    margin-top:30px;
    border-top: 1px solid #ddd;
    padding-top:20px;
}

.navbar .user-link,
.navbar form.sign-out-form .icon-user {
    padding-left:10px;
}

.navbar  form.sign-out-form {
    margin:1px 0 0 0;
    padding:0;
}

.navbar form.sign-out-form button {
    margin:0 0 0 6px;
}

/*#recent-site-tests h3 {        
    margin: 0 0 0 -30px;
    padding: 10px 0 10px 30px;       
}

#recent-site-tests {
  
}


#recent-site-tests .site {
    position:relative;
    padding-right:3%;  
}

*/#current-tests .site .wrapper {
    position:relative;
}

#current-tests .site .icon {
}

#current-tests .address .btn {

}

#current-tests .address .btn-spacer {
    border-left: 2px solid #eee;
}


#current-tests .address .btn-wrapper {
    position:absolute;
    right: 0px;
    background-color: rgba(238, 238, 238, 0.5);
    padding-left: 14px;
}

#current-tests .site .badge {    
    margin-right:6px;
    padding-left: 4px;
    padding-right: 4px;
}

#current-tests .site .results a {
    text-decoration: none;
}

#current-tests .site .total .test-count,
#current-tests .site .total .task-count,
#current-tests .site .total .url-count {
    color: #666;
    font-size: 30px;
    line-height: 30px;
    display: block;    
    margin-top: 10px;
}

#current-tests .site .detail {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#current-tests .site .detail .figure {
    display:inline-block;
    width:28px;
    text-align: right;
}

#current-tests .site {
    margin-bottom: 20px;
}

#current-tests .address {
    overflow:hidden;
    position: relative;
    height: 23px;
}

#current-tests .address a {
    white-space: nowrap;
    display: block;
}

#current-tests .address a:hover .icon {
    text-decoration: none;
}

#finished-tests .site {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-top: 40px;
}

#finished-tests .not-started {
    padding-bottom:16px;
}

#finished-tests .requires-results,
#finished-tests .replacing {
    border-bottom-color: transparent;
}

#finished-tests .site {
    overflow:hidden;
}

#finished-tests .site .wrapper {
    position:relative;
}

#finished-tests .site .url {
    white-space: nowrap;
    display:inline-block;
    /*    margin-bottom: 20px;*/
}

#finished-tests .site .url .btn-spacer {
    border-left: 2px solid #eee;
}


#finished-tests .site .url .btn-wrapper {
    position:absolute;
    right: 0px;
    background-color: rgba(238, 238, 238, 0.5);
    padding-left: 14px;
}

#finished-tests .site .url .badge {    
    margin-right:6px;
    padding-left: 4px;
    padding-right: 4px;
}

body.app-task-results #task-summary h3 {
    font-size: 16px;
    font-weight: normal;    
    opacity:0.9;
}

body.app #test-options {
    margin-top:10px;
}

body.app-progress #test-options {
    margin-top:0;
}

#test-options .test-options-set {
    border-radius: 5px;
    padding: 10px;
}

#test-options .test-options-set:hover {
    background-color:#e7e7e7;
}

#test-options .test-options-set-disabled:hover {
    background-color:transparent;
}

#input form {
    margin-bottom: 0;
}


body.app-task-results .errors .meta,
body.app-task-results .errors .content {
    float:left;
}

body.app-task-results .errors .meta {
    width:20%
}

body.app-task-results .errors .content {
    margin-left:10px;
    width:78%;
}

body.app-task-results .errors .content .message,
body.app-task-results .errors .content .fragment {
    display:block;
}

body.app-results #no-errors {
    position: relative;
}

/*body.app-results #no-errors #trophy .icon-certificate {
    font-size:380px;
    line-height: 400px;
    color: #faa732;
}*/

body.app-results #no-errors #trophy .icon-ok {
    font-size:200px;
    line-height: 240px;
    color: #51A351;
    margin-left:30px;
    /*    position:absolute;
        left:100px;
        top:100px;*/

}

body.app-results #no-errors p {
    position: absolute;
    left: 260px;
    font-size: 66px;
    line-height: 76px;
    opacity: 0.8;
    top: 40px;    
}

#test-options .ignore-common-cdn-domains ul {
    margin: 0;
    padding: 0;    
}

#test-options .ignore-common-cdn-domains ul li {
    list-style-type: none;
    opacity:0.8;
}

.css-domains-to-ignore textarea {
    width:60%;
}

#test-options .test-options-advanced {
    margin-left: 18px;
}


#test-options  .validator-option-set p {
    font-weight: bold;
    opacity: 0.8;
    margin: 6px 0;
}

body.app-task-results .outcome {
    white-space: nowrap;
}

body.app-task-results .section-marker {
    padding-top:60px;
    display:block;
    margin-top:-60px;
}

body.app-task-results .label a {
    color: #fff;
}

body.app-task-results .label a:hover i {
    text-decoration: none;
}

body.app-task-results .outcome .label {
    margin-right:4px;
}

body.app-results #test-list #task-list-container .label-success i.icon-ok {
    color:#fff;
    opacity:0.8;
}

body.app-progress .test-options-advanced .title {
    margin-top: 8px;
}

body.app-progress .test-options-advanced ul {
    margin-top: 8px;
}

body.app-progress .test-options-advanced ul li {
    margin-bottom: 4px;
}

body.app-results-preparing h1,
body.single-page-notification h1 {
    margin-bottom: 40px;
}

body.single-page-notification p.intro {
    font-size:18px;
    line-height: 24px;    
}

body.single-page-notification .cta {
    margin-top:40px;
}

body.single-page-notification #detail-expandable ul {
    margin-bottom:0;
    padding-bottom:10px;
}

body.single-page-notification h3 {
    font-size: 14px;
    line-height: 22px;    
}

body.app-results-preparing .summary {
    margin-top: 30px;    
}

body.app-results-preparing #completion-percent {

}

@media (min-width: 1200px) {
    body.single-page-dialog #main input,
    body.single-page-dialog div.main input {
        width:96%;
    }    

    body.single-page-dialog #main .input-append input,
    body.single-page-dialog div.main .input-append input {
        width:76%;
    }

    body.app-task-results .errors .meta {
        width:14%
    }

    body.app-task-results .errors .content {        
        width:82%;
    }    
}

body.sign-in #stay-signed-in-container {
    margin-left:100px;
    margin-top:-30px;
}

#stay-signed-in-container span {
    opacity: 0.8;
}

body.single-page-dialog #stay-signed-in-container input {
    width:auto;
}

body.app-progress #completion-percent p {
    opacity: 0.6;
}

body.account h1,
body.account h2,
body.account h3,
body.account h4 {
    font-weight: normal;
}

body.account h1 {
    font-size:32px;
    line-height: 44px;
}

body.account h2 {
    font-size:26px;
    line-height: 34px;
    opacity:0.7;
}

body.account h3 {
    font-size:18px;
    line-height: 24px;
    opacity:0.7;
}

body.account .account-details label {
    width:140px;
}

body.account .plan table {

}

body.account .plan th {
    padding-left: 0;
    font-weight: normal;
}

body.account .plan-section {
    margin-bottom:30px;
}

body.account .confirm-email-change form {
    margin-left: -16px;
}

body.account .confirm-email-change form #token {
    width:100%;
}

.navbar-link {
    text-decoration:none;    
}

.navbar-link:hover {
    text-decoration:none;
}

body.account div.controls-disabled {
    padding-top: 5px;
}

.alert .icon-exclamation-sign {
    font-size: 26px;
    vertical-align: middle;
    margin-right:6px;
}

.alert-from-view .icon-exclamation-sign {
    margin-right:0;
}

#recent-site-tests .span4 {
    width:31%;
}

body.user-account-index .card-container .card-container-label {
    width:166px;
    position: relative;
}

body.user-account-index .card-type {
    display:block;
    background-repeat: no-repeat;
    height: 32px; 
    position: absolute;
    right:0;
    width:51px;
}

/**
* Credit card icons from http://media.smashingmagazine.com/wp-content/uploads/2010/10/payment-icon-set.zip
* as referenced by http://www.smashingmagazine.com/2010/10/21/free-png-credit-card-debit-card-and-payment-icons-set-18-icons/ 
* Icons are free to use
*/
body.user-account-index .card-type-visa {
    background-image: url('/bundles/simplytestablewebclient/images/visa-straight-32px.png');
}

body.user-account-index .card-type-mastercard {
    background-image: url('/bundles/simplytestablewebclient/images/mastercard-straight-32px.png');
}

body.user-account-index .card-details .icon {
    font-size:7px;
    vertical-align: middle;
}

body.user-account-index .card-details .exp_date {
    opacity: 0.7;
    font-size: 12px;
    display:block;
    margin-top: -4px;
}

body.user-account-card .control-group-cvc a {
    margin-top:10px;
    display:block;
}

body.user-account-index .plan-section .alert-error {
    margin-bottom:0;
}

body.user-account-index .latest-invoice td {
    padding-left:0;
}

body.user-account-index .latest-invoice td span {
    opacity:0.7;
}

body.user-account-index .latest-invoice .icon-ok {
    color:#468847;
}

.alert a {
    text-decoration: underline;
}


div.inline-short label {
    display:inline;
}

input.inline-short {
    display:inline;
    width:26px;
}

#test-options h3 {
    color:#333;
    opacity:0.8;
    font-size:14px;
    margin:0;
    padding:0;
}

body.single-page-notification .primary-options {
    padding-bottom: 20px;
}

body.single-page-notification .secondary-options {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

body.crawl-progress div.logo {
    display:none;
}

body.crawl-progress h1 .background {
    position: absolute;
    top: 20px;
    left: -50px;
    background-color: #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;   
}

body.crawl-progress h1 .icon {
    color: #08c;
    font-size: 80px;
    margin-top: 33px;
    margin-left: 21px;
    display: block;    
}

body.crawl-progress h1 {
    overflow:hidden;
    white-space:nowrap;
}

body.app-results-failed-no-urls-detected .inline-forms form {
    display:inline-block;
}

body.crawl-progress p#subtext {
    margin-top:-30px;
}

body.user-account-index .news-subscriptions label {
    width:auto;
    margin: 14px auto;
}

body.user-account-index .news-subscriptions label strong {
    display:block;
    font-weight: normal;
}

body.user-account-index .news-subscriptions label span {
    opacity:0.7;
}

.top-right-form {
    position:absolute;
    top:0;
    right:30px;      
}

.stop-on-errors {

}

.stop-on-errors label.checkbox {

}

.stop-on-errors label.checkbox input {
    float:none;
    width:auto;
    margin-top: 0px;
}

body.app-results div.top-right-form form {
    display:inline;
}

body.app-results .significant-button {
    text-align: left;
}

body.app-results .significant-button span {
    display:block;
    opacity:0.7;
    font-size:12px;
}

body.app-results .significant-button {
    position: absolute;
    right: 0;
    top: 0;
    width:160px;
}

.full-width-container {
    background-color: #eee;
    padding: 40px 0;
    margin-bottom: 30px;
}

body.full-width {
    margin-top: 40px;
}

#test-options .not-selected {
    text-decoration: line-through;
    opacity: 0.7;
}

.full-width-container div.main section {
    padding-top:0;    
    padding-bottom:0;
    margin-bottom: 0;    
}

.full-width-container div.main section {
    background-color: transparent;    
}

#test-options .test-options-set label b {
    font-weight: normal;
}

#test-options .test-options-set label.disabled,
#test-options .test-options-set label.deactivated {
    opacity: 0.4
}

#test-options .test-options-set label.deactivated .task-type-name b {
    text-decoration:line-through;
}

.full-width-container .alert {
    margin-left:30px;
    margin-right:30px;
    margin-top:-20px;
    margin-bottom: 40px;
}

.full-width-container section .alert {
    margin-left: auto;
    margin-right:auto;
}

body.app-progress .progress {
    margin-bottom: 4px;
    margin-top: 20px;
}

body.app-results .summary-stats .summary-container,
body.app-task-results .summary-stats .summary-container {
    margin-top:20px;
}

body.app-results #test-start-form {
    margin-bottom: 0;
}

#finished-tests .summary-stats .summary-container {
    margin-top:8px;
}

.summary-stats .summary-figure {
    text-align: center;
    border-radius: 60px;
    width:120px;
    height:120px;   
    background-color: #ddd;
    color:#fff;
}

#finished-tests .summary-figure {
    border-radius: 40px;
    width:80px;
    height:80px;     
    position:relative;
}

.summary-stats .summary-figure .stat-label {
    font-size: 12px;    
}

.summary-stats .summary-figure .icon {
    display:block;
    font-size:20px;
}

#finished-tests .summary-stats .summary-figure .icon {
    display:none;
}

.summary-stats .summary-figure a,
.summary-stats .summary-figure .anchor {
    color:#fff;
    opacity:0.8;
    display: block;
    padding-top: 24px;
}

.summary-stats .outline-container .anchor {
    color:#222;
}

#finished-tests .summary-stats .summary-figure a,
#finished-tests .summary-stats .summary-figure .anchor {
    padding-top: 20px;
}

body.app-results .summary-stats .span2,
body.app-task-results .summary-stats .span2 {
    width:120px;
}

#finished-tests .summary-actions .actions {
    margin-top:12px;
}

#finished-tests .summary-actions .actions .icon {
    margin-left: 4px;
}

.summary-stats .summary-figure a:hover {
    text-decoration: none;
    opacity: 1;
}

.summary-stats .error-container {
    background-color: #b94a48;
}

.summary-stats .warning-container {
    background-color: #0088cc;
}

.summary-stats .success-container {
    background-color: #468847;
}

.summary-stats .fix-container {
    background-color:#f89406;
}

.summary-stats .count {
    font-size:40px;
    line-height: 40px;
    display: block;
}

#finished-tests .summary-prose {
    font-size: 12px;
}

#finished-tests .summary-stats .count {
    font-size:20px;
    line-height: 20px;        
}

#finished-tests a .icon-bar-chart {
    color: #468847;
}

#finished-tests a .icon-remove {
    color: #b94a48;
}

#finished-tests a:hover .icon {
    text-decoration: none;
}

#finished-tests a .icon {
    margin-right: 6px;
}

.borderradius body.app-results #task-list-container .nav-tabs i {    
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: transparent;
    display: inline-block;
    color:#fefefe;
}

.borderradius body.app-results #task-list-container .nav-tabs i.icon-ok {
    background-color: #468847;
}

.borderradius body.app-results #task-list-container .nav-tabs i.icon-text {
    font-style: normal;
    background-color: #b94a48; 
    text-align: center;
    font-weight: bold;
}

.borderradius body.app-results #task-list-container .nav-tabs li.tasks-with-errors i {
    background-color: #b94a48;
}

.borderradius body.app-results #task-list-container .nav-tabs li.tasks-with-warnings i {
    background-color: #0088cc;
}

.borderradius body.app-results #task-list-container .nav-tabs li.tasks-skipped i,
.borderradius body.app-results #task-list-container .nav-tabs li.tasks-cancelled i {
    background-color: #999;
}

body.app-task-results .issue-list .icon-ban-circle {
    color: #b94a48;
}

body.app-task-results .issue-list .icon-heart {
    color: #f89406;
}

body.app-task-results h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;    
}

body.app-results h2 a {
    font-size:14px;
}

.summary-prose .icon-ok {
    color: #51A351;
    margin-left:4px;
}

.summary-prose a:hover .icon-ok {
    text-decoration: none;
}

.summary-prose ul {
    list-style: none;    
}

#finished-tests .summary-prose ul {
    margin:0;
    padding:0;
}

body.app-results #lock-unlock .significant-button {
    /*    position:absolute;*/
    /*    right:30px;
        width:156px;
    */    top:70px;
}

#finished-tests .requires-results p {
    margin: -4px 0 4px 0;
}

body.app .progress,
body.app-history .progress,
body.app-history-all .progress {
    height:4px;
    margin-bottom:0;
}

#current-tests .subtext {
    font-size: 12px;
}

#finished-tests .re-test {
    position: absolute;
    right: 0;
    top: 30px;    
}

#finished-tests .summary-stats {
    margin-top: 8px;
}

#finished-tests .summary-stats .span2 {
    width:80px;
}

.full-width-notification {
    padding:20px 0 10px 0;
    margin:0;

    background-color: #d9edf7;
    color: #3a87ad; 

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    padding-left:60px;

    border-bottom: 1px solid #bce8f1;
}

.full-width-notification a {
    text-decoration: underline;
}

.ammendment-clone,
.ammendment-clone a {
    background-color: #eee;
    color: transparent;
    border-color: transparent;
}

#finished-tests .header {
    position:relative;
}

#finished-tests .header a {
    position:absolute;
    right:0;
    top:6px;
}

#finished-tests section .icon-cog {
    left: -58px;
}

.pagination i {
    height:20px;
}

body.app-history .full-width-header,
body.app-history-all .full-width-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

body.app-history .no-tests,
body.app-history-all .no-tests {
    padding-bottom: 30px;
}

.pagination ul li a:hover {
    background-color: #08c;
    color:#fff;
}

.pagination ul li a:hover span {
    opacity: 0.9;
}

#test-options h3 {
    margin:0;
    padding:0;
}

#authentication-options .checkbox-lined span {
    width: 70px;
    display:inline-block;
}

.support-hint {
    margin-top: 20px;
    opacity: 0.8;
}

body.single-page-dialog .additional {
    border-top: 1px solid #ddd;
    margin-top: 26px;
    padding-top: 20px;  
}

body.single-page-dialog .additional ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body.single-page-dialog .additional ul a:hover .icon {
    text-decoration: none;
}

#cookies-options-expandable .test-cookies {
    padding-top:0;
}


.test-cookies table {
    margin:0;
}

.test-cookies table th,
.test-cookies table td {
    border-top:none;
    padding: 4px 8px;
}

.test-cookies table th:nth-of-type(1),
.test-cookies table td:nth-of-type(1) {
    padding-left:0;
}

.test-cookies table .name {
    width:30%;
}

.test-cookies table .value {
    width:90%;
    text-align: left;
}

.test-cookies table .remove {
    width:10%;
}

.test-cookies table .remove .icon {
    position: absolute;
    margin: 4px 0 0 4px;
}

.test-cookies table input {
    width:100%;
}

.modal-content {
    display:none;
}

.action-badge {
    display:inline-block;
    padding: 0;
    padding: 3px 9px 3px;
    font-weight: normal;
    margin-right:14px;
    background-color: #ddd;
    color: #666;
    text-shadow: none;
}

.action-badge .icon {
    margin-right: 3px;
}

.action-badge-label {
    display:inline-block;    
    padding-right: 3px;
}

.action-badge a {
    color:#666;
    padding-left:6px;    
    border-left:1px solid #eee;
}

.action-badge a:hover {
    text-decoration: none;
    color:#333;
}

body.app-task-results h1 {
    white-space:nowrap;
}

body.app-task-results .intro p {
    white-space: nowrap;
    overflow:hidden;
    position:relative;
}

body.app-progress .tasks .url,
body.app-results .tasks .url {
    white-space: nowrap;
}

body.app-progress .tasks .url .fade,
body.app-results .tasks .url .fade,
body.app-task-results .intro p .fade {
    position: absolute;
    right:0;
    width:12px;
    height:20px;
    background: #eee;
    opacity:0.6;
    top:0;
}

.nowrap {
    white-space: nowrap;
}

.action-badge {
    /*    border: 1px solid transparent;*/
}

.action-badge-enabled {
    /*    border: 1px solid #f89406;*/
}

.action-badge-enabled .icon-primary {
    /*    color: #f89406;*/
    color:#333;
}

.action-badge-enabled a {
    /*    border-color: #f89406;*/
}

.action-badge-filter-options strong {
    font-weight: normal;
    color:#333;
}

body.app-results .history {
    position:absolute;
    right:0;
    top:70px;
}

body.app-results .history-with-owner {
    top:140px;
}

body.app-history .typeahead {
    max-width:528px;
}

body.app-history .typeahead li a {
    overflow:hidden;
}

.cta .btn {
    text-align: left;
    position: relative;
    padding-right: 24px;
}

.cta .btn span {
    display:block;
}

.cta .btn .primary {
    font-size: 16px;
}

.cta .btn .byline {
    font-size: 13px;
    opacity: 0.8;
}

.cta .btn .icon {
    position: absolute;
    font-size: 24px;
    right:10px;
    top: 14px;
}