{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% block title %}Test History - {{ parent() }}{% endblock %}
{% block body_class %} {{ parent() }} test-history full-width {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% if is_logged_in == false %}
            {% include 'Partials/Generic/limited-demo-notification.html.twig' %}
        {% endif %}
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        {% include 'Partials/Test/History/heading-content.html.twig' %}
                    </h1>

                    {% include 'Partials/Test/History/url-filter.html.twig' %}

                    {% if test_list.maxresults > 0 %}
                        {% if pagination_page_numbers|length > 0 %}
                            {% include 'Partials/Test/History/pagination-content.html.twig' %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 test-list">
                {% for test in test_list.get %}
                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Summary:finished.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
