{% for task_type_key, task_type_details in task_types %}
    {% set is_available = task_type_key in available_task_types|keys %}
    {% set is_selected = is_available and test_options[task_type_key] is defined %}

    <div class="row hidden-xs task-type">
        <span class="col-lg-12 task-type-name {% if not is_available %}not-available{% endif %}" title="{{ task_type_details.description|striptags }}{% if not is_available %} (account required){% endif %}">
            {% if is_available %}
                {% if is_selected %}
                    <i class="fa fa-fw fa-check"></i>
                {% else %}
                    <i class="fa fa-fw fa-times"></i>
                {% endif %}
            {% else %}
                <i class="fa fa-fw fa-minus-circle"></i>
            {% endif %}

            {{ task_type_details.name }}
        </span>
    </div>
{% endfor %}