{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Test History - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

{% if is_logged_in == false %}
<div class="full-width-container full-width-notification">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
                <strong><i class="icon icon-heart"></i></strong> Hi there! This is a <strong>limited free demo</strong> to introduce
                you to the service. Need more?
                <a href="{{ path('sign_up') }}">Create a free account</a> or
                <a href="{{ path('sign_in') }}">sign in</a>.
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="full-width-container full-width-header {% if pagination_page_numbers|length == 0 %}no-tests{% endif %}">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
                <h2>
                    {% include 'SimplyTestableWebClientBundle:Partials:TestHistory/header-content.html.twig' %}
                </h2>
                {% if test_list.maxresults > 0 %}
                    {% if pagination_page_numbers|length > 0 %}
                    {% include 'SimplyTestableWebClientBundle:Partials:TestHistory/pagination-content.html.twig' %}
                    {% endif %}
                {% endif %}                     
            </div>
        </div>
    </div>
</div>



<div class="container main">

{% block main %}
        <div class="row-fluid">         
            <div class="span8" id="finished-tests">
                     
                   
                    
                        <div id="finished-tests-content">
    {% for test in test_list.get %}
        {% include 'SimplyTestableWebClientBundle:Partials:finished-job-summary.html.twig' %}
    {% endfor %}
                        </div>
 
            </div>
            <div class="span4">
            </div>                   
        </div>        
{% endblock %}
                     
</div>

{% endblock %}


