{% set heading = 'Bad URL!' %}

{% set content %}
<p id="reason">
    We tried to retrieve the page at <a href="{{ task.url }}">{% include 'Partials/url/utf8-raw-possibly-truncated-64.html.twig' with {'url': task_url} %}</a>
    to test it.
</p>

<p>
    There's something funny about that URL. It's not made right, it can't be used.
</p>
{% endset %}

{% include 'Abstract/Partials/Test/Results/Task/Failed/failure-message.html.twig' %}