{% set heading = 'Connection Timeout!' %}

{% set content %}
<p id="reason">
    We tried to retrieve the page at <a href="{{ task.url }}">{% include 'Partials/url/utf8-raw-possibly-truncated-64.html.twig' with {'url': task_url} %}</a>
    to test it.
</p>

<p>
    We waited.
</p>

<p>
    After 30 seconds we gave up waiting.
</p>
{% endset %}

{% include 'Abstract/Partials/Test/Results/Task/Failed/failure-message.html.twig' %}