<span class="badge action-badge action-badge-filter-options {% if filter is not empty %}action-badge-enabled{% endif %}">
    <i class="fa fa-filter icon-primary"></i>
    <span class="action-badge-label">{% if filter is empty %}Showing all results{% else %}Showing results for <strong>{{ filter }}</strong>{% endif %}</span>
    <span class="modal-control" data-toggle="modal" data-target="#filter-options-modal">
        filter by url
        <i class="fa fa-caret-right"></i>
    </span>
</span>

<div class="modal" id="filter-options-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Filter by URL</h3>
                <p>
                Filter the test list to those made against a given URL.
                </p>
            </div>
            <div class="modal-body">
                <input name="filter"
                id="input-filter"
                class="form-control typeahead"
                type="text"
                placeholder="URL to filter by &hellip;"
                value="{{ filter }}"
                data-source-url="{{ websites_source }}"
                data-provider="typeahead">
                <input name="closed_by" type="hidden">
            </div>
            <div class="modal-footer">
                <button id="clear-filter-button" type="button" class="btn btn-default" data-dismiss="modal">Clear filter</button>
                <button id="apply-filter-button" type="button" class="btn btn-primary" data-dismiss="modal">Apply filter</button>
            </div>
        </div>
    </div>
</div>
