{% macro persistent_checkbox(label, name, test_options, hint, is_disabled) %}
    <label class="checkbox {% if ((test_options[name] is not defined or test_options[name] == 0) and is_disabled) %}disabled{% endif %}" title="{{ hint }}">
        <input {% if (is_disabled) %}disabled{% endif %} type="checkbox" name="{{ name }}" value="1" {% if (test_options[name] is defined and test_options[name] == 1) %} checked {% endif %} />
    {{ label | raw }}
    </label>
{% endmacro %}
    
{% import _self as form %}

{% set is_disabled = app.request.get('_route') == 'view_test_progress_index_index' or ((is_owner is defined and is_owner == false) and (is_public_user_test is defined and is_public_user_test == false)) %}
{% set is_enabled = (is_disabled == false) %}
{% set has_http_auth = (test_options['http-auth-username'] is defined and test_options['http-auth-username'] != '') or (remote_test is defined and remote_test.hasParameter('http-auth-username') and remote_test.parameter('http-auth-username') != '') %}

{% if 'html-validation' in available_task_types|keys %}
    {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/html-validation-options.html.twig' %} 
{% endif %}

{% if 'css-validation' in available_task_types|keys %}
    {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/css-validation-options.html.twig' %} 
{% endif %}

{% if 'js-static-analysis' in available_task_types|keys %}
    {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/js-static-analysis-options.html.twig' %}
{% endif %}

{% if 'link-integrity' in available_task_types|keys %}
    {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/link-integrity-options.html.twig' %}
{% endif %}