{% set disable = is_disabled and (test_options['css-validation'] is not defined or not test_options['css-validation']) %}
{% set is_advanced_options_available = is_enabled or (is_disabled and test_options['css-validation'] is defined and test_options['css-validation'] == 1) %}

<div class="test-options-set task-type-option {% if disable %}test-options-set-disabled{% endif %}" id="css-validation-options">
    <label class="checkbox {% if disable %}disabled{% endif %}">
        <input {% if is_disabled %}disabled{% endif %} class="task-type" type="checkbox" value="1" name="css-validation" {% if (test_options['css-validation'] is defined and test_options['css-validation'] == 1) %} checked {% endif %} />
        <span class="task-type-name">CSS validation</span>
        <span class="help-block">Check CSS rules defined in linked stylesheets and inline</span>
    </label>

    {% if is_advanced_options_available %}

        <div class="test-options-advanced">
            <span class="collapse-control collapsed link" data-toggle="collapse" data-target="#css-validation-options-advanced">
                Advanced CSS validation options
                <i class="fa fa-caret-down"></i>
            </span>
            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Options/CssValidation:advanced-options.html.twig' %}
        </div>

    {% endif %}

</div>