{% set error_count = task.output.errorCount %}

<div class="row issue-list  {{ [task_type_key, 'issue-list']|join('-') }} error-list {{ [task_type_key, 'error-list']|join('-') }}" id="errors">
    <div class="col-xs-12">
        <h2 data-section="error-list">
            Errors <span class="badge alert-danger">{{ error_count }}</span>
            {% if error_count > 1 %}
                <span  class="collapse-control link" data-toggle="collapse" data-target="#error-list-content"></span>
            {% endif %}
        </h2>

        {% include [
        'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Task/Succeeded/ErrorList/',
        task_type_key,
        ':list.html.twig'
        ]|join('') %}
    </div>
</div>
