<div class="row issue-list  {{ [task_type_key, 'issue-list']|join('-') }} error-list {{ [task_type_key, 'error-list']|join('-') }}" id="errors">
    <div class="col-lg-12">
        <h2 data-section="error-list">Errors <span class="badge alert-danger">{{ task.output.errorCount }}</span></h2>

        {% include [
        'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Task/Succeeded/ErrorList/',
        task_type_key,
        ':list.html.twig'
        ]|join('') %}
    </div>
</div>