{% if current_tests|length == 0 %}
    <p class="info">
        {% if is_logged_in %}
            You're not running any tests at the moment.
        {% else %}
            No free demo tests are running at the moment.
        {% endif %}
    </p>                            
{% else %}
    {% for test in current_tests %}

    <div class="site" data-test-id="{{ test.id }}" data-state="{{ test.state }}">
        <div class="wrapper">                                  
{% include 'SimplyTestableWebClientBundle:Partials:current-job-summary.html.twig' %}
        </div>
    </div>

    {% endfor %}
{% endif %}