{% if recent_tests|length == 0 %}                       
    <p class="info">
        {% if is_logged_in %}
        None of your tests have finished running. When 
        they have, you'll see a summary of your recent tests here.
        {% else %}
        No demo tests have finished running. When 
        they have, you'll see a summary of your recent tests here.
        {% endif %}
    </p>
{% else %}
    {% for test in recent_tests %}
        {% include 'SimplyTestableWebClientBundle:Partials:recent-job-summary.html.twig' %}
    {% endfor %}
{% endif %} 