Don't forget to <a href="{{ path('user_view_signin_index') }}">sign in</a> before starting a
test to take full advantage of your account. No account? <a href="{{ path('user_view_signup') }}">Sign up</a>
now.