Don't forget to <a href="{{ path('view_user_signin_index') }}">sign in</a> before starting a
test to take full advantage of your account. No account? <a href="{{ path('view_user_signup_index_index') }}">Sign up</a>
now.