



{% if test.test.state == 'rejected' %}
{{ test.remote_test.rejection }}
{% else %}
<div class="row-fluid summary-stats">
        {% if test.requires_results is defined and test.requires_results == true %}
            results needed
        {% else %}
            {% include 'SimplyTestableWebClientBundle:Partials:/results/error-count.html.twig' with {'test': test.test} %}
        {% endif %}
    <div class="span2">
        {{ test.test.warningCount }}
    </div>        
    <div class="span6">
        {# dump(test) #}
    </div>       
</div>
{% endif %}