<section>
<div id="input" class="leader">                  
    <form method="post" action="{{ path('test_start') }}">                
        <h1 class="info">
            <label for="input-website">
                <i class="icon-play-circle"></i> Start new website test
            </label>
        </h1>           
            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
            
            {% if test_start_error == 'website-blocked' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Ouch!</strong></p>
            <p><strong>{{ website }}</strong>  is too large for me to test just yet. I'm still new. Do you have a website you made that you'd like to test?</p>
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
            {% if 'js-static-analysis' in available_task_types|keys %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>,
                <strong>CSS validation</strong> or <strong>JavaScript static analysis</strong>
                as required.
            </p>            
        </div>             
            {% else %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>
                or <strong>CSS validation</strong> as required.
            </p>            
        </div>            
            {% endif %}
            
            
            {% endif %}            
        {% endif %}          

        <div class="fields input-prepend input-append larger">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website URL &hellip;">
            <button type="submit" class="btn btn-primary btn-large" name="full-single" value="full">Test full site</button>
            <button type="submit" class="btn btn-large" name="full-single" value="single">Test this URL only</button>
            <i class="icon-play icon-large"></i>
        </div>

<div id="test-options">
    <p class="info"><i class="icon-wrench"></i> What do you want to check?</p>
    {% include 'SimplyTestableWebClientBundle:Partials:test-input-task-type-options.html.twig' %} 
</div> 
            
    </form>
</div>
</section>