{% extends 'Partials/Test/Summary/summary.html.twig' %}

{% set was_not_started = test.test.state == 'cancelled' and test.remote_test.taskcount == test.remote_test.taskcountbystate.cancelled %}
{% set no_urls = test.test.state == 'failed-no-sitemap' and test.remote_test.crawl is null %}
{% set icon = 'fa-bar-chart-o' %}
{% set url = path('view_test_results_index_index', {'website': test.test.website, 'test_id':test.test.testId}) %}

{% block container_class %}finished {% if was_not_started %}not-started{% endif %} {% if test_list is defined and test_list.requiresresults(test.test) %}requires-results{% endif %}{% endblock %}

{% if test_list is defined and test_list.requiresresults(test.test) %}
    {% set container_attributes = ['data-completion-percent="0"']|join('') %}
{% endif %}

{% block url_button_label %}View full results{% endblock %}

{% set results_url = path('view_test_results_index_index', {'website': test.test.website, 'test_id': test.test.testid}) %}

{% block pre_stats %}
    {% if test_list is defined and test_list.requiresresults(test.test) %}
        {% set route_parameters = {
            website: test.test.website,
            test_id: test.test.testid
        } %}

        {% set status_url = path('view_test_results_preparingstats_index', route_parameters) %}
        {% set unretrieved_task_ids_url = path('app_unretrieved_task_ids', route_parameters|merge({limit: 100})) %}
        {% set retrieve_tasks_url = path('task_results_retrieve', route_parameters) %}
        {% set summary_url = path('view_partials_test_finished_summary', route_parameters) %}

        <div class="row preparing js-urls"
             data-status-url="{{ status_url }}"
             data-unretrieved-task-ids-url="{{ unretrieved_task_ids_url }}"
             data-retrieve-tasks-url="{{ retrieve_tasks_url }}"
             data-summary-url="{{ summary_url }}"
        >
            <div class="col-lg-12">
                <p class="summary">Preparing results &hellip;</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stats %}
    <div class="row summary-stats">
        {% if was_not_started %}
            <div class="col-lg-12 reason">
                <p>
                    Stopped before any tests were run.
                </p>
            </div>
        {% elseif no_urls %}
            <div class="col-lg-12 reason">
                <p>
                    No pages discovered for this demo test. Sign in to enable page discovery via crawling.
                </p>
            </div>
        {% else %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 summary-col">
                {% include 'Abstract/Partials/Test/Results/issue-count-zero-positive.html.twig'
                with {
                    count: test.test.errorCount,
                    name:'error',
                    anchor: [results_url, '?filter=with-errors']|join(''),
                    include_icon: false,
                    split: true,
                    issue_type: 'error'
                } %}

                {% include 'Abstract/Partials/Test/Results/issue-count-zero-positive.html.twig'
                with {
                    count: test.test.urlCount,
                    name:'url',
                    include_icon: false,
                    split: true,
                    negative: 'plain',
                    positive: 'plain',
                    issue_type: 'error'
                } %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 summary-col">
                {% include 'Abstract/Partials/Test/Results/issue-count-zero-positive.html.twig'
                with {
                    count: test.test.warningCount,
                    name:'warning',
                    anchor: [results_url, '?filter=with-warnings']|join(''),
                    include_icon: false,
                    split: true,
                    negative: 'primary'
                } %}

                {% include 'Abstract/Partials/Test/Results/issue-count-zero-positive.html.twig'
                with {
                    count: test.test.taskCount,
                    name:'test',
                    include_icon: false,
                    split: true,
                    negative: 'plain',
                    positive: 'plain'
                } %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                {% include 'Partials/Test/Results/errors-by-task-type.html.twig' with {'test': test.test, 'remote_test':test.remote_test, 'type':null, 'filter':null} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
