{% if user_summary.user_plan.plan.name == 'basic' and user_summary.stripe_customer is not defined %}
<p>
    You're on a <strong>free</strong> plan, no payment details needed.
</p>
{% else %}
<!-- user_summary.stripe_customer.subscription.status -->
    {% if user_summary.stripe_customer.active_card is defined %}
        {% if user_summary.stripe_customer.active_card.check_failures is defined and user_summary.stripe_customer.active_card.check_failures|length > 0 %}
            {% include 'SimplyTestableWebClientBundle:Partials/User/Account:payment-summary-card-check-failures.html.twig' %}                         
        {% endif %}
        {% include 'SimplyTestableWebClientBundle:Partials/User/Account:card-summary.html.twig' %}                         
    {% else %}
        {% include 'SimplyTestableWebClientBundle:Partials/User/Account:no-card.html.twig' %} 
    {% endif %}
{% endif %}