{% if user_summary.plan.name == 'basic' and (user_summary.hasStripeCustomer == false or user_summary.getStripeCustomer.hasSubscription == false) %}
<p>
    You're on a <strong>free</strong> plan, no payment details needed.
</p>
{% else %}
    {% if user_summary.getStripeCustomer.hasActiveCard %}
        {% if user_summary.stripe_customer.active_card.check_failures is defined and user_summary.stripe_customer.active_card.check_failures|length > 0 %}
            {% include 'SimplyTestableWebClientBundle:Partials/User/Account:payment-summary-card-check-failures.html.twig' %}                         
        {% endif %}
    {% else %}
        {% include 'SimplyTestableWebClientBundle:Partials/User/Account:no-card.html.twig' %} 
    {% endif %}
{% endif %}