.navbar .brand {
    background: url('/bundles/simplytestablewebclient/images/st30.png') transparent no-repeat 5px 4px;
    color: #08C;
    padding-left: 40px;
}

.navbar-inverse .brand:hover {
    color:#0ae;
}

.navbar .nav > li {
    padding-top:2px;
    position:relative;
}

.navbar .nav > li i.icon {
    position: absolute;
    top: 14px;
    left: -4px;    
}

.navbar .nav > li:hover i.icon {
    color:#eee;
}

body {
    margin-top:80px;
}

.hero-unit {
    padding: 30px 60px 0px 60px;
    position:relative;
    height:100px;
}

.hero-unit h1 {
    font-size:40px;
    margin:0;
}

#logo {
    position: absolute;
    background: url('/bundles/simplytestablewebclient/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width: 100px;
    height: 100px;
    left: -50px;    
}

.outer {
    width:80%;
    margin:0 10%;
}

#main section {
    position: relative;
}

#main section h1,
#main section h1 label {
    font-size: 28px;
    line-height: 32px; 
    font-weight: normal;
}

section .info i {   
    color:#08c;    
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    margin-top:-4px;   
}

#main section .info i {
    background: url('/bundles/simplytestablewebclient/images/circle54.png') transparent no-repeat top left;
    width:56px;
    height:56px;
    line-height: 32px;     
    left: -28px;
    font-size: 48px;
    line-height: 48px;     
    margin-top:-12px;
}

#main section p.info i {
    margin-top: -16px;    
}

#main .leader h1 .sub-state {
    font-size:16px;
    opacity:0.4;
}

section.top {
    height:110px;
}

#main section {
    background-color: #eee;
    padding:20px 30px;
    margin-bottom: 30px;
}

#main #input .fields input {
    font-size: 15px;
    padding: 13px 9px 11px 9px;
    width:65%;
}

#main #input .fields button {
    width:30%;
    padding-top:12px;
}

#main #input .fields button i {
    margin-left:4px;
}

#main #progress p.info {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest {
    position:relative;
}

#latest h2 {
    font-weight: normal;
}

#latest h2 i {
    right:-25px;
    margin-top: -10px;    
    font-size: 28px;
    line-height: 32px;  
    background: url('/bundles/simplytestablewebclient/images/circle40.png') transparent no-repeat top left;
    width:40px;
    height:40px;
    line-height: 32px;    
}

#latest section {
    background-color: #eee;
    padding:20px;
    margin-bottom: 30px;    
}

#latest h2 {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest .total {
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 0;
}

#latest #completion .state {
    margin-top:0;
    opacity:0.8;
}

#latest section p.listed {
    margin-bottom:0;
}

section h2 {
    font-weight: normal;
}

#test-list #task-list-container .tasks {
    list-style:none;
    margin: 20px 0 0 0;
}

#test-list #task-list-container .task {
    list-style-type: none;
    margin:0 0 10px 0;
    padding:0;
}

#test-list #task-list-container .task .url {
    display:block;
}

#test-list #task-list-container .task .meta {
    margin: 0 0 0 20px;
}

#test-list #task-list-container .task .meta .output-indicator {
    margin-left:8px;
}

#test-list #task-list-container .tasks .queued i,
#test-list #task-list-container .tasks .queued-for-assignment i {
    color:#F89406;
}

#test-list #task-list-container ul.tasks li.in-progress i {
    color:#08c;
}

#test-list #task-list-container ul.tasks li.failed-no-retry-available i,
#test-list #task-list-container ul.tasks li.failed-retry-available i,
#test-list #task-list-container ul.tasks li.failed-retry-limit-reached i,
#test-list #task-list-container ul.tasks li.failed i {
    color:#953B39;
}

#test-list #task-list-container ul.tasks li.completed i {
    color:#51A351;
}

#test-list #task-list-container ul.tasks li.cancelled i {
    color:#999;
}

#test-list #task-list-container ul.tasks li.task .type {
    opacity:0.6;
}

#test-list .tab-content .tab-pane {
    padding-top:20px;
}

#test-list #task-list-container #tab-list {
    margin-bottom:0;
}

#test-list #task-list-container #tab-list .tab-hidden {
    display:none;
}

#test-list #task-list-container #tab-list .tab-visible {
    display:block;
}

#test-list .tab-list-control {
    color: #08c;
    display: block; 
    font-size: 20px;  
    padding:8px 12px;
}

#test-list .tab-list-control:hover {
    color: #005580;
    cursor:pointer;
    background-color:#e0e0e0;
}

#test-list #task-list-container .tab-content .tab-pane .tasks {
    margin-top:0;
}

#test-list .tab-content .pane-empty {
    height:400px;
}

#test-summary .test-states {
    width:100%;
}

#test-summary .test-states th {
    text-align: right;
    width:10%;
}

#test-summary .test-states td.bar {
    width:90%;
}

#test-summary .test-states .label {
    display:inline-block;  
    padding: 3px 5px;
}

#test-summary .test-states th .label {
    padding: 2px 5px;
}

#test-summary .test-states .bar span {
    width:100%;    
    margin-left: 6px;
    margin-top:1px;
    padding-top:1px;
    display:block;
}

#test-summary .test-states .queued .bar span {
    background-color:#F89406;
}

#test-summary .test-states .in_progress .bar span {
    background-color:#3A87AD;
}

#test-summary .test-states .completed .bar span {
    background-color:#468847;
}

#test-list #task-list-container h2 i {
    font-size: 38px;
    line-height: 48px;    
}

#test-list span.info i {
    font-size: 38px;
    line-height: 48px;    
}

body.app-task-results #main h1 i,
body.app-results #main h1 i {
    font-size: 38px;
    line-height: 48px;        
}

#test-list #task-list-container li.task a.label i {
    color:#fff;
}

body.app-task-results #task-summary th {
    text-align: right;
    padding-right: 10px;
}

body.app-task-results .errors {
    list-style: none;
    margin-left: 0;
}

body.app-task-results .errors li {
    list-style-type: none;
    margin-bottom:16px;
    position:relative;
    height: 40px;
}

body.app-task-results .errors span,
body.app-task-results .errors div.message {
    position:absolute;
}

body.app-task-results .errors .meta {
    left:0px;
    font-style: italic;
}

body.app-task-results .errors .message {
    left:145px;
    font-weight: bold;
}

body.app-task-results .errors div.message {
    left:145px;
    font-weight: normal;
}

#main .notification-panel {
    
}

#main .notification-panel p.intro {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
}

#main .notification-panel h3 {
    font-weight: normal;
}

body.app-task-results section .notification p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 14px;
}

body.app-task-results section .notification blockquote {
    border-left-color: #ccc;
}