#outer {
    width:100%;
    position:relative;
}

#outer #latest {
    height:500px;
    background-color:#f00;
    width:20%;
    position:absolute;
    left:0;
}

#outer #main {
    height:500px;
    background-color:#00f;
    position:absolute;
    left:20%;
    width:60%;
}

#outer #supplemental {
    height:500px;
    background-color:#0f0;
    width:20%;
    position:absolute;
    right:0;
}

#main #input input {
    margin:0;
}

#main #input .fields input {
    font-size: 15px;
    padding: 9px;
    width: 78%;
}

#main #input .fields button i {

}