body {
    margin-top:60px;
}

.hero-unit {
    padding: 30px 60px 0px 60px;
    position:relative;
    height:100px;
}

.hero-unit h1 {
    font-size:40px;
    margin:0;
}

#logo {
    position: absolute;
    background: url('/bundles/simplytestablewebclient/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width: 100px;
    height: 100px;
    left: -50px;    
}

#outer {
    width:70%;
    margin:0 15%;
}

#main section {
    position: relative;
}

#main section h1,
#main section h1 label {
    font-size: 28px;
    line-height: 32px; 
    font-weight: normal;
}

section .info i {   
    color:#08c;    
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    margin-top:-4px;   
}

#main section .info i {
    background: url('/bundles/simplytestablewebclient/images/circle54.png') transparent no-repeat top left;
    width:56px;
    height:56px;
    line-height: 32px;     
    left: -28px;
    font-size: 48px;
    line-height: 48px;     
    margin-top:-12px;
}

#main section p.info i {
    margin-top: -16px;    
}

#main .leader h1 .sub-state {
    font-size:16px;
    opacity:0.4;
}

/*.app-results #main .leader h1 i {
    font-size:24px;
}*/

section.top {
    height:110px;
}

#main section {
    background-color: #eee;
    padding:20px 30px;
    margin-bottom: 30px;
}

#main #input .fields input {
    font-size: 15px;
    padding: 9px 9px 8px 9px;
    width:65%;
}

#main #input .fields button {
    width:30%;
}

#main #input .fields button i {
    margin-left:4px;
}

#main #progress p.info {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest {
    position:relative;
}

#latest h2 {
    font-weight: normal;
}

#latest h2 i {
    right:-25px;
    margin-top: -10px;    
    font-size: 28px;
    line-height: 32px;  
    background: url('/bundles/simplytestablewebclient/images/circle40.png') transparent no-repeat top left;
    width:40px;
    height:40px;
    line-height: 32px;    
}

#latest section {
    background-color: #eee;
    padding:20px;
    margin-bottom: 30px;    
}

#latest h2 {
    font-size:20px;
    line-height: 22px;
    margin:0;
}

#latest .total {
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 0;
}

#latest #completion .state {
    margin-top:0;
    opacity:0.8;
}

#latest section p.listed {
    margin-bottom:0;
}

#progress h2 {
    font-weight: normal;
}

#progress #url_list ul {
    list-style:none;
}

#progress #url_list ul.urls {
    margin: 20px 0 0 0;
}

#progress #url_list ul li {
    list-style-type: none;
    margin:0;
    padding:0;
}

#progress #url_list ul.urls {
    clear:both;
}

#progress #url_list ul.urls li.url {
    margin:8px 0;
}

#progress #url_list ul.tasks li.queued i {
    color:#F89406;
}

#progress #url_list ul.tasks li.in-progress i {
    color:#08c;
}

#progress #url_list ul.tasks li.completed i {
    color:#51A351;
}

#progress #url_list ul.tasks li.task .type {
    opacity:0.6;
}

#progress .test-states {
    width:100%;
}

#progress .test-states th {
    text-align: right;
    width:10%;
}

#progress .test-states td.bar {
    width:90%;
}


#progress .test-states .bar span {
    width:100%;    
    display: inline-block;
    margin-left: 6px;
}


#progress .test-states .queued .bar span {
    background-color:#F89406;
}

#progress .test-states .in_progress .bar span {
    background-color:#3A87AD;
}

#progress .test-states .completed .bar span {
    background-color:#468847;
}