[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}  

.btn-small [class^="icon-"] {
margin-top: -1px;
}

.btn [class^="icon-"] {
    margin-top:2px;
}

.btn-large [class^="icon-"] {
    margin-top: 5px;    
}

.btn [class^="icon-"] {
    display:inline-block;
}