{% set credits_remaining = userSummary.planConstraints.credits.limit - userSummary.planConstraints.credits.used %}

<p class="lead">
    This test couldn't go ahead as, at the time, you had reached your account's monthly
    limit of <strong>{{ remote_test.rejection.constraint.limit|number_format }}</strong> credits.
</p>

<p class="lead">
    You currently have <strong>{{ credits_remaining|number_format }}</strong> credits remaining
    this month. Go ahead and try again.
</p>

<div class="cta">
    <form method="post" action="{{ path('app_test_retest', {'website': website.raw, 'test_id': remote_test.id}) }}">
        <button type="submit" class="btn btn-primary btn-lg">
            <span class="primary">Re-test {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %}</span>
            <span class="byline">Just one click. Do it now.</span>
            <i class="fa fa-caret-right"></i>
        </button>
    </form>
</div>

<div class="additional">
    <ul class="actions">
        <li>
            <p>
                <a href="{{ path('view_test_history_index_index', {'filter': remote_test.website}) }}">Past results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %} <i class="fa fa-caret-right"></i></a>
            </p>
        </li>
    </ul>
</div>