{% include 'Partials/User/Account/Plan/summary.html.twig' %}

<h3 id="plan-allowances">Allowances</h3>
{% include 'Partials/User/Account/Plan/allowances.html.twig' %}

{% if (user_summary.getTeamSummary.isInTeam and team.leader == user.username) or not user_summary.getTeamSummary.isInTeam %}
    <div id="plan-upgrade-downgrade">
        <h3>Upgrade/downgrade</h3>

        {% if user_summary.plan.accountPlan.isCustom %}
            <p>
                You're on a custom plan. <a href="mailto:{% autoescape false %}{{ external_links.contact_email }}{% endautoescape %}">Contact us</a>
                if you need to modify your plan.
            </p>
        {% else %}
            <p>
                Need to test larger sites or need to run a greater amount of tests?
            </p>

            <a class="btn btn-default" href="{{ path('view_user_account_plan') }}#plan-upgrade-downgrade">Change your plan <i class="fa fa-caret-right"></i></a>

            <a class="plans-link" href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">View plan and pricing details <i class="fa fa-caret-right"></i></a>
        {% endif %}

    </div>
{% endif %}