{% extends '@SimplyTestableWebClient/bs3/Partials/User/Account/Plan/Alert/Content/card-abstract.html.twig' %}
{% block message %}
    <p>Your payment card's expiry date is invalid. Has it expired?</p>
{% endblock %}