{% extends '@SimplyTestableWebClient/bs3/Partials/User/Account/Plan/Alert/Content/card-abstract.html.twig' %}
{% block message %}
    <p>Your payment card's security (CVC) code is invalid.</p>
{% endblock %}
