{% extends '@SimplyTestableWebClient/bs3/Partials/User/Account/Plan/Alert/Content/abstract.html.twig' %}
{% block message %}
    <p>
        You need to add a credit or debit card so that we can take payment for
        your premium subscription.
    </p>
{% endblock %}
{% block update_payment_details %}
    <p>
        <a href="{{ path('view_user_account_card_index') }}">Add payment details <i class="fa fa-caret-right"></i></a>
    </p>
{% endblock %}

