{% extends '@SimplyTestableWebClient/bs3/Partials/User/Account/Plan/Alert/Content/card-abstract.html.twig' %}
{% block message %}
    <p>Your payment card has expired. Are you using an old card by mistake?</p>
{% endblock %}
