<p>
    <strong>Hmmm. That's not going to work.</strong>
</p>
<p>
    I can't send a confirmation email to <strong>{{ email }}</strong>.
</p>
<p>
    Perhaps your mailbox is full, perhaps the email address doesn't exist.
</p>
<p>
    Maybe try with a different email address?
</p>
