{% set state_to_icon_map = {
    'completed':'bar-chart-o',
    'queued':'cog',
    'queued-for-assignment':'cog',
    'in-progress':'cogs',
    'skipped':'random',
    'cancelled':'circle-dot-o',
    'failed':'ban',
    'failed-no-retry-availabl':'remove-circle',
    'failed-retry-available':'remove-circle',
    'failed-retry-limit-reached':'remove-circle',
} %}

{% set ignore_results_states = ['skipped', 'cancelled'] %}

<ul class="tasks list-unstyled">
    {% for url,taskSet in tasks %}
        <li class="task-set">
            <span class="url">{{ url }}<span class="fade"></span></span>
            {% for task in taskSet %}
                <div class="task {{ task.state }}" id="task{{ task.id }}">
                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Index/TaskList/Task:task.html.twig' %}
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>