<div class="row-fluid card-container">
    <div class="span6 card-container-label">
    </div>
    <div class="span6 details">        
        <!-- {{ dump(user_summary.stripe_customer.active_card) }} -->
    </div>
</div>