{% if user_summary.user_plan.plan.name == 'basic' and user.stripe_customer is not defined %}
<p>
    You're on a <strong>free</strong> plan, no payment details needed.
</p>
{% else %}                
    {% if card|length %}
<!-- trialing, active, past_due, canceled, or unpaid -->
        {% set payment_summary_template = 'SimplyTestableWebClientBundle:Partials/User/Account:payment-summary-' ~ plan.summary.status ~ '.html.twig' %}                
        {% include payment_summary_template  %} 
        {% include 'SimplyTestableWebClientBundle:Partials/User/Account:card-summary.html.twig' %}                         
    {% else %}
        {% include 'SimplyTestableWebClientBundle:Partials/User/Account:no-card.html.twig' %} 
    {% endif %}
{% endif %}