<p>
    We've been unable to take payment for your premium subscription.
</p> 

        {% set retry_limit = stripe['payment_retry_limit'] + 1 %}
        {% set retry_count = retry_limit - stripe_event_data['invoice.updated'].attempt_count %}
    
        {% for attempt_count in stripe['payment_retry_limit'] .. 1 %}
            {% if stripe_event_data['invoice.updated'].attempt_count == attempt_count %}
    
    <p>
        We've tried {{ stripe_event_data['invoice.updated'].attempt_count }} time{%if stripe_event_data['invoice.updated'].attempt_count != '1'%}s{% endif %}        
        to collect payment. We'll try again in {{ stripe_event_data['invoice.updated'].next_payment_attempt_relative }}.
        {% if retry_count > 1%}        
        If this fails, we will re-try a further {{ retry_count }} time{%if retry_count != '1'%}s{% endif %}
        over the following days.        
        {% endif %}    
    </p>
    
        {% if retry_count > 1%}               
    <p>
        If our last attempt to collect payment fails your account
        will be downgraded to the free basic plan. 
    </p>     
        {% else %}
    <p>
        Our next payment attempt will be our last. If it fails your account
        will be downgraded to the free basic plan. 
    </p>     
        {% endif %}       

            {% endif %}
        {% endfor %}  