{% extends 'Abstract/single-page-dialog.html.twig' %}

{% set dialog_width = 8 %}

{% set title %}
    {% if remote_test.rejection.constraint is defined and remote_test.rejection.constraint is not null %}
        {% if is_logged_in %}
            Plan limit reached
        {% else %}
            Demo limit reached
        {% endif %}
    {% elseif remote_test.rejection.reason|slice(0, 4) == 'curl' %}
        Sorry, that can't be accessed at the moment
    {% else %}
        Oops, I can't do that
    {% endif %}
{% endset %}

{% block title %}{{ title }} - {{ parent() }} {% endblock %}
{% block body_class %} {{ parent() }} test-results-rejected {% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'credits_per_month' %}
        {% include 'Partials/Test/Results/Rejected/CreditLimit/credit-limit.html.twig' %}
    {% endif %}

    {% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'full_site_jobs_per_site' %}
        {% include 'Partials/Test/Results/Rejected/full-site.html.twig' %}
    {% endif %}

    {% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'single_url_jobs_per_url' %}
        {% include 'Partials/Test/Results/Rejected/single-page.html.twig' %}
    {% endif %}

    {% if remote_test.rejection.constraint is null and remote_test.rejection.reason == 'unroutable' %}
        {% include 'Partials/Test/Results/Rejected/unroutable.html.twig' %}
    {% endif %}

    {% if remote_test.rejection.constraint is null and remote_test.rejection.reason|slice(0, 4) == 'curl' %}
        {% include 'Partials/Test/Results/Rejected/curl-error.html.twig' %}
    {% endif %}
{% endblock %}
