<p><strong>Hmmm, that's not the right confirmation code</strong></p>
<p>
    Try having the confirmation email re-sent if you're not
    sure the confirmation code is correct.
</p>
<p>
    If you're copying the confirmation code from the email,
    try instead to click the link below the code.
</p>
