<p>
    <strong>Sorry, that didn't work</strong>
</p>
<p>
    We tried to re-send your sign up confirmation email to <strong>{{ email }}</strong>
    but it didn't work.
</p>
<form class="resend-failure" role="form" method="post" action="{{ path('action_sign_up_user_confirm_resend', { 'email': email}) }}">
    <button class="btn btn-primary" type="submit">Try emailing my activation code again!</button>
</form>
