<div class="summary-container summary-figure outline-container">
    <span class="anchor">
        <span class="count">{{ test.taskCount }}</span>
        <span class="stat-label">test{% if test.taskCount != 1 %}s{% endif %}</span>
    </span>
</div>
