<div class="summary-container summary-figure outline-container">
    <span class="anchor">
        <span class="count">{{ test.urlcount }}</span>
        <span class="stat-label">url{% if test.urlcount != 1 %}s{% endif %}</span>
    </span>
</div>
