{% extends 'Abstract/Modal/Notification/account-required.html.twig' %}

{% set id = 'js-static-analysis-account-required-modal' %}
{% set additional_classes = 'account-required-modal' %}

{% block modal_header %}
    <h3>Unlock JavaScript Static Analysis Testing</h3>
{% endblock %}

{% block modal_body %}
    <div class="cta row">
        <div class="col-lg-12">
            <p class="lead">
                {{ task_types['js-static-analysis'].description|raw }}.
                Available to all account holders.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-primary btn-lg" href="{{ path('view_user_sign_in') }}">
                <span class="primary">Sign in</span>
                <span class="byline">&nbsp;<br>To unlock JavaScript static analysis.</span>
                <i class="fa fa-sign-in"></i>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{{ path('view_user_signup_index_index') }}" class="btn btn-lg btn-cta btn-success">
                <span class="primary">Create an account</span>
                <span class="byline">30-day trial, no credit card required. Get started in seconds.</span>
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
{% endblock %}