<p>
    <strong>Sorry, that didn't work</strong>
</p>
<p>
    We tried to re-send your email address update confirmation email to <strong>{{ email }}</strong>
    but it didn't work.
</p>
<p>
    Could you try again?
</p>
