{% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:members.html.twig' %}

<div class="account-section">
    <h2 id="leave">Leave team</h2>

    <p>
        Do you want to leave the {{ team.name }} team?
    </p>

    <form role="form" method="post" action="{{ path('action_user_account_team_leave') }}">
        <button type="submit" class="btn btn-danger">
            Yes, I want to leave this team.
        </button>
    </form>
</div>