{% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:create.html.twig' %}

<div class="account-section">
    <h2 id="invites">Invites</h2>
    <p>
        You haven't yet been invited to join any teams.
    </p>
    <p>
        Do you work in an organisation that has a team account? Ask the person who runs the team
        account to send you an invite.
    </p>
</div>