{% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:create.html.twig' %}

<div class="account-section">
    <h2 id="invites">Invites</h2>

    {% if user_summary.plan.accountplan.ispremium %}
        <p>
            You're on a premium plan and due to this you can't join a team.
        </p>

        <p>
            If you were to join a team, your paid plan would be unused as you would then be using
            your team leader's plan.
        </p>

        <p>
            It would be irresponsible of us to let you join a team. Sorry.
            Downgrade to our free plan to receive invites to join teams.
        </p>
    {% else %}
        <p>
            You haven't yet been invited to join any teams.
        </p>
        <p>
            Do you work in an organisation that has a team account? Ask the person who runs the team
            account to send you an invite.
        </p>
    {% endif %}
</div>