{% extends 'SimplyTestableWebClientBundle::base.html.twig' %}

{% block body %}

<div class="container">
    <div id="main">
        {% block main %}{% endblock %} 
    </div>                       
</div>

{% endblock %}