{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Start a new website test - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

{% if is_logged_in == false %}
<div class="full-width-container full-width-notification">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
                <strong><i class="icon icon-heart"></i></strong> Hi there! This is a <strong>limited free demo</strong> to introduce
                you to the service. Need more?
                <a href="{{ path('sign_up') }}">Create a free account</a> or
                <a href="{{ path('sign_in') }}">sign in</a>.
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="full-width-container">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">                    
                {% include 'SimplyTestableWebClientBundle:Partials:test-start-form.html.twig' %} 
            </div>
        </div>
    </div>
</div>



<div class="container main">

{% block main %}
        <div class="row-fluid">
            <div class="span4" id="current-tests">
                <section>          
                        <h2 class="info">
                            <i class="icon-cog"></i> Running {% if is_logged_in == false %}demo{% endif %} tests
                        </h2>
                        
                        <div id="current-tests-content">
                            {% include 'SimplyTestableWebClientBundle:Partials:current-content.html.twig' %}
                        </div>                        
                </section> 
            </div>            
            <div class="span8" id="finished-tests">
                <section>            
                        <h2 class="info">
                            <i class="icon-cog"></i>Recent finished {% if is_logged_in == false %}demo{% endif %} tests
                        </h2>                        
                        
                        <div id="finished-tests-content">
                            {% include 'SimplyTestableWebClientBundle:Partials:finished-content.html.twig' %}
                        </div>
                </section> 
            </div>
        </div>        
{% endblock %}
                     
</div>

{% endblock %}


