{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Start a new website test - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">        
        {% if is_logged_in == false %}
        <div class="alert alert-info alert-ammendment alert-from-view">
            <i class="icon icon-exclamation-sign"></i>
            <span>
        {% include 'SimplyTestableWebClientBundle:Partials:public-user-notification.html.twig' %}
            </span>
        </div>
        {% endif %}
            
        <div class="row-fluid">
            <div class="span12">
                {% if test_cancelled_queued_website is defined and test_cancelled_queued_website != '' %}
                    {% include 'SimplyTestableWebClientBundle:Partials:cancelled-queued-notification.html.twig' %}              
                {% endif %} 
                    
                {% include 'SimplyTestableWebClientBundle:Partials:test-start-form.html.twig' %} 
            </div>
        </div>
    </div>
</div>



<div class="container main">

{% block main %}
        <div class="row-fluid">
            <div class="span4" id="current-tests">
                <section>          
                        <h2 class="info">
                            <i class="icon-cog"></i> Running tests
                        </h2>
                        
                        <div id="current-tests-content">
                            {% include 'SimplyTestableWebClientBundle:Partials:current-content.html.twig' %}
                        </div>                        
                </section> 
            </div>            
            <div class="span8" id="finished-tests">
                <section>            
                        <h2 class="info">
                            <i class="icon-cog"></i>3 Most Recent Finished tests
                        </h2>
                        
                        <div id="finished-tests-content">
                            {% include 'SimplyTestableWebClientBundle:Partials:finished-content.html.twig' %}
                        </div>
                </section> 
            </div>
        </div>        
{% endblock %}
                     
</div>

{% endblock %}


