{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Start a new website test - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">        
        {% if is_logged_in == false %}
        <div class="alert alert-info alert-ammendment alert-from-view">
            <i class="icon icon-exclamation-sign"></i>
            <span>
        {% include 'SimplyTestableWebClientBundle:Partials:public-user-notification.html.twig' %}
            </span>
        </div>
        {% endif %}
            
        <div class="row-fluid">
            <div class="span12">
                {% if test_cancelled_queued_website is defined and test_cancelled_queued_website != '' %}
                    {% include 'SimplyTestableWebClientBundle:Partials:cancelled-queued-notification.html.twig' %}              
                {% endif %} 
                    
                {% include 'SimplyTestableWebClientBundle:Partials:test-start-form.html.twig' %} 
            </div>
        </div>
    </div>
</div>



<div class="container main">

{% block main %}
          

{% if is_logged_in %}
        <div class="row-fluid">
            <div class="span4" id="current-tests">
                <section>          
                        <h2 class="info">
                            <i class="icon-cog"></i> Running tests
                        </h2>

                        {% if current_tests|length == 0 %}
                            <p>
                                {% if is_logged_in %}
                                    You're not running any tests at the moment.
                                {% else %}
                                    No free demo tests are running at the moment.
                                {% endif %}
                            </p>                            
                        {% else %}
                            {% for test in current_tests %}
                                     
                            <div class="site">
                                <div class="wrapper">                                  
{% include 'SimplyTestableWebClientBundle:Partials:current-job-summary.html.twig' %}
                                </div>
                            </div>
                            
                            {% endfor %}
                        {% endif %}
                </section> 
            </div>            
            <div class="span8">
                <section>            
                        <h1 class="info">
                            <i class="icon-cog"></i> Finished tests
                        </h1>
                </section> 
            </div>
        </div>        
{% endif %}            

{% endblock %}
                     
</div>

{% endblock %}


