{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Start a new website test - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">
        {% if is_logged_in == false %}
        <div class="alert alert-info alert-ammendment alert-from-view">
            <i class="icon icon-warning-sign"></i>
            <span>
        {% include 'SimplyTestableWebClientBundle:Partials:public-user-notification.html.twig' %}
            </span>
        </div> 
        {% endif %}
            
        <div class="row-fluid">
            <div class="span12">
                {% if test_cancelled_queued_website is defined and test_cancelled_queued_website != '' %}
                    {% include 'SimplyTestableWebClientBundle:Partials:cancelled-queued-notification.html.twig' %}              
                {% endif %} 
                    
                {% include 'SimplyTestableWebClientBundle:Partials:test-start-form.html.twig' %} 
            </div>
        </div>
    </div>
</div>



<div class="container main">

{% block main %}
          

{% if is_logged_in %}
        <div class="row-fluid" id="recent-site-tests">
            <div class="span12">
                <section>
                    <div>            
                        <h1 class="info">
                            <i class="icon-cog"></i> Recent tests
                        </h1>

                        <div class="inner" id="recent-site-tests-list">
                            
                            {% if recent_tests|length == 0 %}
                            <p>
                                You haven't started any tests yet. When you have, you'll see a summary of 
                                your recent tests here.
                            </p>
                                
                            {% endif %}

                            {% for test in recent_tests %}
                            
                            {% if loop.index0 % 3 == 0 %}
                            <div class="row-fluid">
                            {% endif %}
                                    
                            <div class="site span4">
                                <div class="wrapper">
{% include 'SimplyTestableWebClientBundle:Partials:recent-job-summary.html.twig' %}                                     
                                </div>
                            </div>                                    
                                    
                            {% if loop.last or loop.index % 3 == 0 %}
                            </div>
                            {% endif %}
                            
                            {% endfor %}                                
                                
                        <div class="clearfix"></div>

                    </div>
                </section> 
            </div>

        </div>        
{% endif %}            

{% endblock %}
                     
</div>

{% endblock %}


