{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Start a new website test - {{ parent() }}{% endblock %}


{% block main %}
        <div class="row-fluid">
            <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %} 
            </div>
        </div>           
{% endblock %}


{% block latest %}
{% endblock %}