{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Testing {{test.website}} (#{{test.id}}) - {{ parent() }}{% endblock %}

{% block main %}         
        <div class="row-fluid">
            <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %} 
            </div>
        </div>

        <div id="progress">
            <div class="row-fluid">
                <div class="span12">
                    {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}
                </div>                
            </div>          
        </div>

        <div id="test-list">
            <div class="row-fluid">
                <div class="span12">
                    {% include 'SimplyTestableWebClientBundle:Partials/progress:url-list.html.twig' %}
                </div>
            </div>            
        </div>
    
{% endblock %}

{% block latest %}
{% endblock %}