{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Not authorised - {{ parent() }}{% endblock %}

{% block content %}

<h1>Not authorised</h1>

<p>
    Hello!
</p>

<p>
    You're not authorised to view test #{{ test_id }} for {{ website }}.
</p>

<p>
    You'll need to sign in as the user who started this test to view the progress
    or results.
</p>

{% endblock %}