{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% block body_attrs %}data-spy="scroll" data-target=".sidenav" data-offset="100"{% endblock %}

{% block body%}    
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{% block heading %}Your account{% endblock %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 hidden-xs sidenav">
                <ul class="nav" data-spy="affix" data-offset-top="100">
                    <li>
                        <a href="#email-address-and-password">Email address and password</a>
                    </li>
                    <li>
                        <a href="#plan">Plan: {{ plan_presentation_name }}</a>
                        <ul class="nav">
                            <li><a href="#plan-allowances">Allowances</a></li>
                            <li><a href="#plan-upgrade-downgrade">Upgrade/downgrade</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#payment-details">Payment details</a>
                        {% if not (user_summary.plan.accountplan.name == 'basic' and user_summary.plan.hasTrialPeriodAvailable) %}
                            <ul class="nav">
                                <li>
                                    {% if user_summary.stripeCustomer.hasActiveCard %}
                                        <a href="{{ path('view_user_account_card_index') }}">Change/update card</a>
                                    {% else %}
                                        <a href="{{ path('view_user_account_card_index') }}">Add card</a>
                                    {% endif %}
                                </li>
                                {% if stripe_event_data['invoice'] is defined %}
                                    <li><a href="#payment-latest-invoice">Latest invoice</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a href="#news-subscriptions">News subscriptions</a>
                        <ul class="nav">
                            <li><a href="#news-subscriptions-product-announcements">Product announcements</a></li>
                            <li><a href="#news-subscriptions-weekly-updates">Weekly updates</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-lg-6 col-md-8 col-sm-7 account-content">
                {% block account_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}