<ul class="refs grouped-issues collapse in" id="error-list-content">
    {% for context,errors in errors_by_js_context %}
        <li>
            <h3>
                <a href="{{ context|escape('html') }}">
                    <i class="fa fa-file-code-o"></i>{{ (context is empty) ? task.url : context }}
                </a>
            </h3>

            <ul class="issues js-static-analysis-issues">
                {% for error in errors %}
                    {% if (not error.isLinterNotice) %}
                        <li class="issue">
                            {% include 'Partials/Test/Results/Task/Succeeded/ErrorList/js-static-analysis/error.html.twig' %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
