{% extends 'Abstract/single-page-dialog.html.twig' %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Reset password</h1>

    <p>
        Enter the email address of your account. We'll send you an email to verify
        you own the address.
    </p>

    <p>
        Follow the instructions in the email to choose a new password.
    </p>

    {% include '@SimplyTestableWebClient/bs3/Partials/User/ResetPassword/Alert/alerts.html.twig' %}

    <form role="form" method="post" action="{{ path('action_user_resetpassword_index_request') }}">
        <div class="form-group-collection form-group-collection-single">
            <div class="input-group input-group-larger">
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter your email address"
                       value="{{ email }}"
                       data-focused
                >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Send email!</button>
                </span>
            </div>
        </div>
    </form>
{% endblock %}
