{% extends 'SimplyTestableWebClientBundle:bs3/Partials/Test/Summary:summary.html.twig' %}

{% set was_not_started = test.test.state == 'cancelled' and test.remote_test.taskcount == test.remote_test.taskcountbystate.cancelled %}
{% set no_urls = test.test.state == 'failed-no-sitemap' and test.remote_test.crawl is null %}
{% set icon = 'fa-bar-chart-o' %}
{% set url = path('view_test_results_index_index', {'website': test.test.website, 'test_id':test.test.testId}) %}

{% block container_class %}finished {% if was_not_started %}not-started{% endif %} {% if test_list is defined and test_list.requiresresults(test.test) %}requires-results{% endif %}{% endblock %}

{% block url_button_label %}View full results{% endblock %}

{% set results_url = path('view_test_results_index_index', {'website': test.test.website, 'test_id': 1}) %}

{% block pre_stats %}
    {% if test_list is defined and test_list.requiresresults(test.test) %}
        <div class="row preparing">
            <div class="col-lg-12">
                <p class="summary">Preparing &hellip;</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stats %}

    <div class="row summary-stats">
        {% if was_not_started %}
            <div class="col-lg-12 reason">
                <p>
                    Stopped before any tests were run.
                </p>
            </div>
        {% elseif no_urls %}
            <div class="col-lg-12 reason">
                <p>
                    No pages discovered for this demo test. Sign in to enable page discovery via crawling.
                </p>
            </div>
        {% else %}
            <div class="col-lg-3 summary-col">
                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                with { 'count': test.test.errorCount, 'name':'error', 'anchor': [results_url, '?filter=with-errors#test-list']|join(''), 'include_icon': false, 'split': true }
                %}

                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                with { 'count': test.test.urlCount, 'name':'url', 'include_icon': false, 'split': true, 'negative': 'plain', 'positive': 'plain' }
                %}
            </div>
            <div class="col-lg-3 summary-col">
                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                with { 'count': test.test.warningCount, 'name':'warning', 'anchor': [results_url, '?filter=with-warnings#test-list']|join(''), 'include_icon': false, 'split': true, 'negative': 'primary' }
                %}

                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                with { 'count': test.test.taskCount, 'name':'test', 'include_icon': false, 'split': true, 'negative': 'plain', 'positive': 'plain' }
                %}
            </div>
            <div class="col-lg-6">
                {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results:errors-by-task-type.html.twig' with {'test': test.test, 'remote_test':test.remote_test, 'type':null, 'filter':null} %}
            </div>
        {% endif %}
    </div>

{% endblock %}