{% extends 'SimplyTestableWebClientBundle:bs3/Partials/Test/Summary:summary.html.twig' %}

{% block container_class %}incomplete{% endblock %}

{% block url_button_label %}Live progress{% endblock %}
{% set url = path('view_test_progress_index_index', {'website': test.test.website, 'test_id':test.test.testId}) %}

{#in-progress#}
{#crawling#}

{% block stats %}

    <div class="row">
        <div class="col-lg-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ test.remote_test.completionPercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ test.remote_test.completionPercent }}%;">
                </div>
            </div>
        </div>
    </div>

    <div class="row summary-stats">
        <div class="col-lg-3 summary-col">
            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
            with { 'count': test.test.urlCount, 'name':'url', 'include_icon': false, 'split': true, 'negative': 'plain', 'positive': 'plain' }
            %}
        </div>
        <div class="col-lg-3 summary-col">
            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
            with { 'count': test.test.taskCount, 'name':'test', 'include_icon': false, 'split': true, 'negative': 'plain', 'positive': 'plain' }
            %}
        </div>
    </div>

{% endblock %}